{{ template "layout" . }}

{{ define "title" }}Check Voucher{{ end }}
{{ define "header-title" }}Check Voucher{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="container-fluid">
    <form id="transaction" name="transaction" novalidate="" class="card b0 form-validate">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-amber-500">
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input id="transaction-code" name="transaction-code" check="true" tabindex="0" aria-invalid="false" class="form-control">
                    <div class="mda-form-control-line"></div>
                    <label>Transaction Code</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" pull-right pr">
                <button type="button" onclick="addElem()" class="btn btn-raised btn-primary ripple">Submit</button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span id="error" class="text-danger"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-heading bg-amber-500">
            <div class="card-title text-center">Transaction Detail</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped table-fixed va-middle">
                  <tbody id="list-transaction">
                    <tr>
                      <td><em class="ion-asterisk icon-fw mr"></em>Partner Name</td>
                      <td id="partner-name"></td>
                    </tr>
                    <tr>
                      <td><em class="ion-cash icon-fw mr"></em>Voucher Value</td>
                      <td id="voucher-value"></td>
                    </tr>
                    <tr>
                      <td><em class="ion-ios-calendar icon-fw mr"></em>Transaction Date</td>
                      <td id="transaction-date"></td>
                    </tr>
                    <tr>
                      <td><em class="icon-fw mr"></em>Status</td>
                      <td id="voucher-status"></td>
                    </tr>
                    <tr>
                      <td><em class="ion-pricetags icon-fw mr"></em>Voucher Code</td>
                      <td id="voucher-code"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/sweetalert/dist/sweetalert-dev.js"></script>
<script type="text/javascript" src="/assets/js/public-check.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/sweetalert/dist/sweetalert.css">
{{ end }}
