<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>E-VOUCHER</title>
  <meta name="description" content="evoucher">
  <meta name="author" content="Gilkor!">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/public-style.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="caption text-center">
      <h1>
        SEDAYU ONE E-VOUCHER
      </h1>
      <h2>
        TRANSAKSI SUKSES
      </h2>
      <h2>
        TUNJUKKAN CODE (<span id="transactioncode" style="color:black"></span>) KEPADA KASIR
      </h2>
    </div>
    <br>
  </div>
</div>
</body>
<footer class="footer">
  <div class="container">
    <div class="text-left">
      <p class="text-muted">Powered by <a href="elys.id">ELYS 2017</a></p>
    </div>
  </div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/onload.js"></script>
<script src="/assets/js/public-script.js"></script>
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
</body>
</html>
