<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-VOUCHER</title>
    <meta name="description" content="evoucher">
    <meta name="author" content="Gilkor!">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="caption text-center">
            <h1>
                ASRI EVOUCHER
            </h1>
        </div>
        <div class="col-md-12">
                <h4 class="text-center white">
                    <strong>Penukaran Voucher Berhasil</strong>
                </h4>


<hr>
            <h5 class="white">
                KODE TRANSAKSI
            </h5>

            <div class="alert alert-info text-center" style="letter-spacing: 5px;">
                <strong>9192i12jo12noi</strong>
            </div>

        </div>
    </div>
</div>
</body>
<footer class="footer">
    <div class="container">
        <div class="text-left">
            <p class="text-muted">Powered by <a href="elys.id">ELYS 2017</a></p>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>