{{ template "layout" . }}

{{ define "title" }}Email{{ end }}
{{ define "header-title" }}Email{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container-overlap bg-white">
</div>
<div class="container container-md">
  <form id="createEmailUser" name="createEmailUser" novalidate="" class="card b0 form-validate">
    <div class="card">
      <div class="card-heading bg-amber-500">
        <div class="card-title text-center">Register Email User</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div id="name-card" class="mda-form-control">
                <input id="name" name="name" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div id="email-card" class="mda-form-control">
                <input placeholder="mail@example.com" id="email" name="email" class="form-control" aria-invalid="true" type="email">
                <div class="mda-form-control-line"></div>
                <label class="control-label">Email Address</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" pull-right pr">
            <button type="button" onclick="send()" class="btn btn-raised btn-primary ripple">Register</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/js/user/email/create.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
