{{ template "layout" . }}

{{ define "title" }}Add Role{{ end }}
{{ define "header-title" }}Add Role{{ end }}

{{ define "content" }}
<section>
<div class="container container-md">
  <div class="card">
    <div class="card-heading bg-amber-500">
      <div class="card-title text-center">Roles</div>
    </div>
    <div class="card-body">
      <form id="create-variant" name="create-feature" novalidate="" class="card b0 form-validate">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input id="role-detail" name="tag-value" check="true" tabindex="0" aria-invalid="false" class="form-control">
                    <div class="mda-form-control-line"></div>
                    <label>Role Detail</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p">
              <label class="font-size-12px">Features</label>
            </div>
            <div class="row p">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-heading bg-amber-500">
                    <div class="card-title text-center">UI</div>
                  </div>
                  <div class="card-body">
                    <div id="list-ui-feature" class="row checked-container">
                      <div class='col-md-12'>
                        <div class='card'>
                          <div class='card-body pt0 pb0'>
                            <div class='row'>
                              <div class='col-sm-12'>
                                <div class='checkbox c-checkbox'>
                                  <label class='text-thin font-size-12px'>
                                    <input id="all-ui-feature" type='checkbox' class='feature'><span class='ion-checkmark-round'></span>All Features
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-heading bg-amber-500">
                    <div class="card-title text-center">API</div>
                  </div>
                  <div class="card-body">
                    <div id="list-api-feature" class="row checked-container">
                      <div class='col-md-12'>
                        <div class='card'>
                          <div class='card-body pt0 pb0'>
                            <div class='row'>
                              <div class='col-sm-12'>
                                <div class='checkbox c-checkbox'>
                                  <label class='text-thin font-size-12px'>
                                    <input id="all-api-feature" type='checkbox' class='feature'><span class='ion-checkmark-round'></span>All Features
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" pull-right pr">
                <button type="button" onclick="add()" class="btn btn-raised btn-primary ripple swal-demo4">Create</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</section>
{{ end }}

{{ define "scripts" }}

<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/js/role/create.js"></script>
{{ end }}


{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
{{ end }}
