{{ template "layout" . }}

{{ define "title" }}Roles{{ end }}
{{ define "header-title" }}List Roles{{ end }}

{{ define "content" }}
<section>
<div class="container container-md">
  <div class="card">
    <div class="card-heading bg-amber-500">
      <div class="pull-right">
        <button type="button" onclick="add()" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-plus-circled"></em></button>
      </div>
      <div class="card-title text-center">Roles</div>
    </div>
    <div class="card-body">
      <div id="listTag" class="row">
      </div>
    </div>
  </div>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/js/role/search.js"></script>
{{ end }}


{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
{{ end }}
