{{ template "layout" . }}

{{ define "title" }}List User{{ end }}
{{ define "header-title" }}List User{{ end }}

{{ define "content" }}
<section>
  <div class="container container-md">
    <div class="card">
      <div class="card-heading bg-amber-500">
        <div class="pull-right">
          <button type="button" onclick="addUser()" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-plus-circled"></em></button>
        </div>
        <div class="card-title text-center">List User</div>
      </div>
      <div class="card-body">
        <div class="row">
          <table id="datatable1" class="table-datatable table table-striped table-hover mv-lg dataTable" role="grid" aria-describedby="datatable2_info">
            <thead>
            <tr>
              <th>
                <div class="mda-form-control pt0">
                  <input type="text" name="filter_user" placeholder="User" class="form-control input-sm datatable_input_col_search">
                  <div class="mda-form-control-line"></div>
                </div>
              </th>
              <th>
                <div class="mda-form-control pt0">
                  <input type="text" name="filter_email" placeholder="Email" class="form-control input-sm datatable_input_col_search">
                  <div class="mda-form-control-line"></div>
                </div>
              </th>
            </tr>
            <tr role="row">
              <th>USER</th>
              <th>TOTAL EMAIL</th>
              <th class="center-text"></th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/vendor/nouislider/distribute/nouislider.js"></script>
<script type="text/javascript" src="/assets/js/user/list/search.js"></script>
{{ end }}


{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
{{ end }}
