{{ template "layout" . }}

{{ define "title" }}User{{ end }}
{{ define "header-title" }}User{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container-overlap bg-white">
</div>
<div class="container container-md">
  <form id="create-user" name="create-user" novalidate="" class="card b0 form-validate">
    <div class="card">
      <div class="card-heading bg-amber-500">
        <div class="card-title text-center">Register User</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div id="username-card" class="mda-form-control">
                <input id="username" name="username" tabindex="0" aria-invalid="false" aria-required="true" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Username</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div id="password-card" class="mda-form-control">
                <input type="password" id="password" name="password"  tabindex="0" aria-required="true" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Password</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div id="email-card" class="mda-form-control">
                <input placeholder="mail@example.com" id="email" name="email" class="form-control" aria-required="true" aria-invalid="true" type="email">
                <div class="mda-form-control-line"></div>
                <label class="control-label">Email Address</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div id="phone-card" class="mda-form-control">
                <input id="phone" name="phone" tabindex="0" aria-required="true" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Phone</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div id="role-card" class="mda-form-control">
                <select id="role" name="role" multiple="multiple" aria-required="true" class="form-control select2" tabindex="0">
                </select>
                <div class="mda-form-control-line"></div>
                <label>Role</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" pull-right pr">
            <button type="button" onclick="send()" class="btn btn-raised btn-primary ripple">Register</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/js/user/create.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
