<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>E-Voucher</title>

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/jquery-ui.min.css">

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/style.js"></script>
<script src="/assets/js/jquery-ui.js"></script>

</head>

<body>
  <div class="page-content-large">
    <div class="container">
      <div class="col-xs-12 col-md-6 col-lg-6 center">
        <div class="panel">
          <div class="panel-header">
            <h3 class="content-title">E-Voucher</h3>
          </div>
          <div class="panel-content">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="exampleInputEmail1" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Username">
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-8">
                  <input type="button" class="form-control" id="sumbit" placeholder="sumbit" value="Submit">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
