{{ template "layout" . }}

{{ define "title" }}User{{ end }}
{{ define "header-title" }}User{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="content-heading bg-white">
    <div class="row">
      <div class="media m0 pv">
        <div class="media-left"><a href="#"><img src="/assets/img/user/01.jpg" alt="User" class="media-object img-circle thumb64"></a></div>
        <div class="media-body media-middle">
          <h4 id="user-name" class="media-heading"></h4>
          <span id="user-desc" class="text-muted"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- Left column-->
      <div class="col-md-7 col-lg-8">
        <form id="profileForm" editable-form="" name="user.profileForm" class="card">
          <h5 class="card-heading">
            <div class="pull-right">
              <button onclick="updateUser()" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-edit"></em></button>
            </div>
            User Details
          </h5>
          <div class="card-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><em class="ion-briefcase icon-fw mr"></em>Account</td>
                  <td id="user-accounts"></td>
                </tr>
                <tr>
                  <td><em class="ion-android-globe icon-fw mr"></em>Email</td>
                  <td id="user-email"></td>
                </tr>
                <tr>
                  <td><em class="ion-ios-telephone icon-fw mr"></em>Phone</td>
                  <td id="user-phone"></td>
                </tr>
                <tr>
                  <td><em class="ion-ios-body icon-fw mr"></em>Member since</td>
                  <td id="user-date"></td>
                </tr>
                <tr>
                  <td><em class="ion-navicon-round icon-fw mr"></em>Total Programs</td>
                  <td id="user-variant"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <!-- Right column-->
      <div class="col-md-5 col-lg-4">
        <div class="card">
          <h5 class="card-heading">
            Teammates
          </h5>
          <div id="listUser" class="mda-list">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/user/profile.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
