{{ template "layout" . }}

{{ define "title" }}E-Voucher{{ end }}
{{ define "header-title" }}E-Voucher{{ end }}

{{ define "content" }}
<!-- Page content-->
<section class="bg-blue-grey-900">
  <div class="container container-xs"><img src="/assets/img/logo.png" class="mv-lg block-center img-responsive thumb64">
    <form id="user-login" action="" name="loginForm" novalidate="" class="card b0 form-validate">
      <div class="card"><a href="/assets/img/pic5.jpg" data-gallery="" title="Unsplash images" class="card-item">
        <div class="card-item-image bg-pic5"></div>
        <div class="card-item-text bg-fade">
          <div class="clearfix">
            <h5 class="mv pull-left">Page Unautorize</h5>
            <h6 class="mv pull-right text-light">401</h6>
          </div>
        </div></a></div>
    </form>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
{{ end }}

{{ define "stylesheets" }}
{{ end }}
