{{ template "layout" . }}

{{ define "title" }}Reimburse Voucher{{ end }}
{{ define "header-title" }}Reimburse Voucher{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="container-fluid">
    <input type="hidden" id="cashout-id" name="cashout-id" class="form-control">
    <div id="success-page" class="col-sm-12">
      <div class="card">
        <div class="card-heading bg-amber-500">
          <div class="card-title text-center">Reimburse Success</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="row">
                <h5>Reimburse transactions success.</h5>
              </div>
              <div class="row">
                <button id="cashout-id" type="button" onclick="print()" class="btn btn-raised btn-success ripple">Print</button>
                OR
                <button type="button" onclick="next()" class="btn btn-raised btn-primary ripple">Next Reimburse</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/js/voucher/cashout_success.js"></script>
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
