{{ template "layout" . }}

{{ define "title" }}Cashout Voucher{{ end }}
{{ define "header-title" }}Cashout Voucher{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="container-fluid">
    <div class="card">
      <div class="card-heading bg-amber-500">
        <div class="card-title text-center">Cashout</div>
      </div>
      <div class="card-body">
        <form id="transaction" name="transaction" novalidate="" class="card b0 form-validate">
          <div class="form-horizontal">
            <div class="form-group ui-datepicker ui-datepicker-popup dp-theme-primary">
              <div class="col-md-3 col-sm-3">
                <p>Transaction Date</p>
              </div>
              <div id="datepicker-transaction" class="col-md-9 col-sm-9">
                <input type="text" id="transaction-date" name="transaction-date" placeholder="Select Date" class="form-control datepicker-transaction">
              </div>
            </div>
            <div class="form-group">
              <table id="datatable1" class="table-datatable table table-striped table-hover mv-lg dataTable" role="grid" aria-describedby="datatable2_info">
                <thead>
                <tr role="row">
                  <th>PARTNER</th>
                  <th>TOTAL TRANSACTION</th>
                  <th>TOTAL VOUCHER VALUE</th>
                  <th class="center-text"></th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" class="odd">
                  <td>SHIGERU</td>
                  <td>10</td>
                  <td>RP. 100.000,00</td>
                  <td><button type="button" onclick="detail(&quot;aBv4vi9r&quot;)" class="btn btn-flat btn-sm btn-info"><em class="ion-search"></em></button><button type="button" onclick="edit(&quot;aBv4vi9r&quot;)" class="btn btn-flat btn-sm btn-info"><em class="ion-edit"></em></button><button type="button" value="aBv4vi9r" class="btn btn-flat btn-sm btn-danger swal-demo4"><em class="ion-trash-a"></em></button></td>
                </tr>
                <tr role="row" class="odd">
                  <td>H&M</td>
                  <td>10</td>
                  <td>RP. 100.000,00</td>
                  <td><button type="button" onclick="detail(&quot;aBv4vi9r&quot;)" class="btn btn-flat btn-sm btn-info"><em class="ion-search"></em></button><button type="button" onclick="edit(&quot;aBv4vi9r&quot;)" class="btn btn-flat btn-sm btn-info"><em class="ion-edit"></em></button><button type="button" value="aBv4vi9r" class="btn btn-flat btn-sm btn-danger swal-demo4"><em class="ion-trash-a"></em></button></td>
                </tr>
                <tr role="row" class="odd">
                  <td>POJOK MINUMAN</td>
                  <td>10</td>
                  <td>RP. 100.000,00</td>
                  <td><button type="button" onclick="detail(&quot;aBv4vi9r&quot;)" class="btn btn-flat btn-sm btn-info"><em class="ion-search"></em></button><button type="button" onclick="edit(&quot;aBv4vi9r&quot;)" class="btn btn-flat btn-sm btn-info"><em class="ion-edit"></em></button><button type="button" value="aBv4vi9r" class="btn btn-flat btn-sm btn-danger swal-demo4"><em class="ion-trash-a"></em></button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/js/voucher/cashout.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
{{ end }}
