{{ template "layout" . }}

{{ define "title" }}Reimburse Voucher{{ end }}
{{ define "header-title" }}Reimburse Voucher{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="container-fluid">
    <div id="transaction-card" class="card">
      <div class="card-heading bg-amber-500">
        <div class="card-title text-center">Reimburse</div>
      </div>
      <div class="card-body">
        <form id="transaction" name="transaction" novalidate="" class="card b0 form-validate">
          <input type="hidden" id="cashout-id" name="cashout-id" class="form-control">
          <input type="hidden" id="bank-account-id" name="bank-account" class="form-control">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <p>Bank Account Destination</p>
              </div>
              <div class="col-md-9 col-sm-9">
                <p id="bank_account"></p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <p>Partner Name</p>
              </div>
              <div class="col-md-9 col-sm-9">
                <p id="partner"></p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <p>Total Transaction</p>
              </div>
              <div class="col-md-9 col-sm-9">
                <p id="totalTransaction" class="text-muted">Rp. 0,00</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <p>Voucher List</p>
              </div>
              <div id="tableTransaction" class="col-md-9 col-sm-9">
                <table class="table table-striped table-bordered">
                  <thead>
                  <th class="col-lg-1 checkbox c-checkbox" style="padding-bottom: 0px !important;">
                    <label><input type='checkbox' id='transactionAll' name='transactionAll' class='transactionAll' value=''><span class='ion-checkmark-round'></span></label>
                  </th>
                  <th style="padding-bottom: 0px !important;">Transaction Code</th>
                  <th style="padding-bottom: 0px !important;">Voucher Code</th>
                  <th style="padding-bottom: 0px !important;">Voucher Value</th>
                  <th style="padding-bottom: 0px !important;">Date</th>
                  </thead>
                  <tbody id="listTransaction">

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class=" pull-right pr">
              <button type="button" onclick="cashout()" class="btn btn-raised btn-primary ripple">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/js/voucher/cashout_detail.js"></script>
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
