{{ template "layout" . }}

{{ define "title" }}Voucher Details{{ end }}
{{ define "header-title" }}Voucher Details{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="container-fluid">
    <div class="row">
      <!-- Left column-->
      <div class="col-md-7 col-lg-8">
        <form editable-form="" id="profileForm" name="user.profileForm" class="card">
          <h5 id="voucher-code" class="card-heading"></h5>
          <div class="card-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><em class="ion-document-text icon-fw mr"></em>Program Name</td>
                  <td id="program-name"></td>
                </tr>
                <tr>
                  <td><em class="icon-fw mr"></em>Reference Code</td>
                  <td id="reference-no"></td>
                </tr>
                <tr>
                  <td><em class="ion-cash icon-fw mr"></em>Voucher Value</td>
                  <td id="voucher-value"></td>
                </tr>
                <tr>
                  <td><em class="ion-ios-calendar icon-fw mr"></em>Period</td>
                  <td id="period"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <!-- Right column-->
      <div class="col-md-5 col-lg-4">
        <div id="card-holder" class="card">
          <h5 class="card-heading">
            Holder
          </h5>
          <div id="holder-detail" class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td><em class="ion-briefcase icon-fw mr"></em>Name</td>
                  <td id="holder-name"></td>
                </tr>
                <tr>
                  <td><em class="ion-android-globe icon-fw mr"></em>Email</td>
                  <td id="holder-email"></td>
                </tr>
                <tr>
                  <td><em class="ion-ios-telephone icon-fw mr"></em>Phone</td>
                  <td id="holder-phone"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="card-status" class="card">
          <h5 class="card-heading">
            Voucher Lifecycle
          </h5>
          <div id="timeline" class="mda-list">
            <div class='mda-list-item'>
              <div class='mda-list-item-icon'><em id="issued-icon" class='ion-android-done icon-2x'></em></div>
              <div class='mda-list-item-text'>
                <h3>Redeemed</h3>
                <div id="issued-state" class='text-muted text-ellipsis'>Not Yet</div>
              </div>
            </div>
            <div class='mda-list-item'>
              <div class='mda-list-item-icon'><em id="redeem-icon" class='ion-android-close icon-2x'></em></div>
              <div class='mda-list-item-text'>
                <h3>Used</h3>
                <div id="redeem-state" class='text-muted text-ellipsis'>Not Yet</div>
              </div>
            </div>
            <div class='mda-list-item'>
              <div class='mda-list-item-icon'><em id="cashout-icon" class='ion-android-close icon-2x'></em></div>
              <div class='mda-list-item-text'>
                <h3>Paid</h3>
                <div id="cashed-state" class='text-muted text-ellipsis'>Not Yet</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/voucher/check.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
