{{ template "layout" . }}

{{ define "title" }}List Voucher{{ end }}
{{ define "header-title" }}List Voucher{{ end }}

{{ define "content" }}
<section>
<div class="container-overlap bg-blue-grey-100 m0">
</div>
<div class="container container-md">
  <div class="card">
    <div class="card-heading bg-amber-500">
        <div class="card-title text-center">Voucher</div>
    </div>
    <div class="card-body">
      <table id="datatable1" class="table-datatable table table-striped table-hover mv-lg dataTable" role="grid" aria-describedby="datatable2_info">
        <thead>
          <tr role="row">
            <th>Voucher Code</th>
            <th>Holder Name</th>
            <th>Reference Code</th>
            <th>Program</th>
            <th>Period</th>
            <th>Status</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/sweetalert/dist/sweetalert-dev.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/js/voucher/search.js"></script>
{{ end }}


{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/sweetalert/dist/sweetalert.css">>
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
{{ end }}
