<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>E-Voucher</title>

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/jquery-ui.min.css">

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/style.js"></script>
<script src="/assets/js/jquery-ui.js"></script>

</head>

<body>
    <div class="col-xs-12 col-md-4 col-lg-2">
      <div class="page-header">
        <a href="https://gilkor.com" target="_blank" class="page-header_logo">
          <img class="page-header_logo-image" src="//static1.squarespace.com/static/5652ecfbe4b0070eb05c03bb/t/5656c8c5e4b09e258542fe59/1480922090183/?format=1500w" alt="Gilkor">
        </a>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><a href="http://127.0.0.1:8080/variant/">Variant</a></li>
          <ul class="list-group-item">
            <li class="list-group-item"><a href="http://127.0.0.1:8080/variant/create">Create</a></li>
            <li class="list-group-item"><a href="#" target="_blank">Check</a></li>
          </ul>
        <li class="list-group-item"><a href="#" target="_blank">Voucher</a></li>
          <ul class="list-group-item">
            <li class="list-group-item"><a href="#" target="_blank">Create</a></li>
            <li class="list-group-item"><a href="#" target="_blank">Check</a></li>
          </ul>
        <li class="list-group-item"><a href="#" target="_blank">Report</a></li>
          <ul class="list-group-item">
            <li class="list-group-item"><a href="http://127.0.0.1:8080/variant/search">Variant</a></li>
            <li class="list-group-item"><a href="#" target="_blank">Voucher</a></li>
            <li class="list-group-item"><a href="#">Transaction</a></li>
          </ul>
      </ul>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-10">
      <div class="panel">
        <div class="panel-header">
          <h3 class="content-title">Title</h3>
        </div>
        <div class="panel-content">
          <form>
            <div class="row">
              <div class="form-group left-panel">
                <div class="form-group">
                  <div class="row">
                    <label class="panel-content_left" for="variantName">Name</label>
                    <input type="text" class="form-control panel-content_right" id="variantName" name="variantName" placeholder="Variant Name" value="a" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="panel-content_left" for="variantType">Type</label>
                    <input type="text" class="form-control panel-content_right" id="variantType" name="variantType" placeholder="Variant Type" value="a" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="panel-content_left" for="discountValue">Disccount Value</label>
                    <input type="number" class="form-control panel-content_right" id="discountValue" name="discountValue" placeholder="Discount" value="100000" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="panel-content_left" for="maxVoucher">Max Voucher</label>
                    <input type="number" class="form-control panel-content_right" id="maxVoucher" name="maxVoucher" placeholder="Max Voucher" value="100" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="panel-content_left" for="startDate">Start</label>
                    <input type="text" class="form-control panel-content_right datepicker" name="startDate" id="startDate" placeholder="Start Date" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="panel-content_left" for="endDate">End</label>
                    <input type="text" class="form-control panel-content_right datepicker" name="endDate" id="endDate" placeholder="End Date" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="panel-content_left" for="pointNeeded">Point</label>
                    <input type="number" class="form-control panel-content_right" id="pointNeeded" name="pointNeeded" value="10" placeholder="Point">
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="panel-content_left" for="imgUrl">Image URL</label>
                    <input type="text" class="form-control panel-content_right" id="imgUrl" name="imgUrl" value="a" placeholder="Image URL">
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="panel-content_left" for="exampleInputPassword1">T&C</label>
                    <textarea id="variantTnc" name="variantTnc" class="form-control panel-content_right" form="usrform" value="a" placeholder="Enter text here..."></textarea>
                  </div>
                </div>

                <input type="button" class="btn btn-default" value="Submit" onclick="send()"></input>
              </div>
              <div class="form-group right-panel">
                <div class="form-group">
                  <div class="row">
                    <div class="panel-content_row">
                      <input type="checkbox" id="allowAccumulative" name="allowAccumulative">
                      <label>Allow Accumulative</label>
                    </div>
                  </div>
                </div>

                <div class="btn-group">
                  <button type="button" class="btn btn-info">Pilih Operator</button>
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul id="listOperator" name="listOperator" class="dropdown-menu">
                    <li><button type="button" class="btn">Op 1</button></li>
                    <li><button type="button" class="btn">Op 1</button></li>
                    <li><button type="button" class="btn">Op 1</button></li>
                    <li><button type="button" class="btn">Op 1</button></li>
                  </ul>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label >Valid User</label>
                    <div name="listOp" id="listOp" class="panel-content_row">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</body>
</html>
