{{ define "layout" }}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{ template "title" }}</title>

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
{{ block "stylesheets" . }}{{ end }}

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/style.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
{{ block "scripts" . }}{{ end }}
</head>

<body>
  <div class="page-header">
    <a href="https://gilkor.com" target="_blank" class="page-header_logo">
      <img class="page-header_logo-image" src="//static1.squarespace.com/static/5652ecfbe4b0070eb05c03bb/t/5656c8c5e4b09e258542fe59/1480922090183/?format=1500w" alt="Gilkor">
    </a>
  </div>

  <!-- <div class="site-layout__spacer"></div> -->

  <div class="page-content">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-3 left-content">
        <ul class="list-group">
          <li class="list-group-item list-group-1st"><a href="http://127.0.0.1:8080/variant/">Variant</a></li>
            <ul class="list-group-item list-group-2nd">
              <li class="list-group-item"><a href="http://127.0.0.1:8080/variant/create">Create</a></li>
              <li class="list-group-item"><a href="#" target="_blank">Check</a></li>
            </ul>
          <li class="list-group-item list-group-1st"><a href="#" target="_blank">Voucher</a></li>
            <ul class="list-group-item list-group-2nd">
              <li class="list-group-item"><a href="#" target="_blank">Create</a></li>
              <li class="list-group-item"><a href="#" target="_blank">Check</a></li>
            </ul>
          <li class="list-group-item list-group-1st"><a href="#" target="_blank">Report</a></li>
            <ul class="list-group-item list-group-2nd">
              <li class="list-group-item"><a href="http://127.0.0.1:8080/variant/search">Variant</a></li>
              <li class="list-group-item"><a href="#" target="_blank">Voucher</a></li>
              <li class="list-group-item list-group-item-last"><a href="#">Transaction</a></li>
            </ul>
        </ul>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-9 right-content">
        <div class="panel">
          <div class="panel-header">
            <h3 class="content-title">{{ template "title" }}</h3>
          </div>
          <div class="panel-content">
            {{ template "content" . }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="left-section">
        <ul class="nav nav-pills">
          <li><a href="#" target="_blank">Help</a></li>
          <li><a href="#" target="_blank">Terms of Service</a></li>
          <li><a href="#" target="_blank">Privacy Policies</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
{{ end }}
