{{ template "layout" . }}

{{ define "title" }}Partner{{ end }}
{{ define "header-title" }}<span id="partnerTitle"></span>{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="container-fluid">
    <div class="row">
      <!-- Left column-->
      <div class="col-md-12 col-lg-12">
        <form editable-form="" id="profileForm" method="post" action="/v1/ui/voucher/link" name="user.profileForm" class="card">
          <h5 class="card-heading">
            <ul id="myTabs" role="tablist" class="nav nav-tabs nav-justified">
              <li role="presentation" class="active"><a id="detailTab" href="#detail" role="tab" data-toggle="tab" aria-controls="detail" aria-expanded="true">Detail</a></li>
              <li role="presentation"><a id="performanceTab" href="#performance" role="tab" data-toggle="tab" aria-controls="performance">Performance</a></li>
              <li role="presentation"><a id="partnerTab" href="#program" role="tab" data-toggle="tab" aria-controls="program">Program</a></li>
              <li role="presentation">
                <div class="pull-right">
                  <button type="button" onclick="edit()" class="btn btn-default btn-flat btn-flat-icon" data-toggle="tooltip" data-placement="top" title="Edit"><em class="ion-edit"></em ></button>
                </div>
              </li>
            </ul>
            <input type="hidden" name="program" id="program-id">
            <input type="hidden" name="token" id="token">
          </h5>
          <div class="card-body">
            <div id="myTabContent" class="tab-content">
              <div id="detail" role="tabpanel" aria-labelledby="detailTab" class="tab-pane fade in active">
                <table id="dvData" class="table table-striped">
                  <tbody>
                    <tr>
                      <td class="col-lg-4"><em class="ion-ios-home-outline icon-fw mr"></em>Partner Name</td>
                      <td id="partner-name" class="col-lg-8"></td>

                      <td class="pull-right">
                        <button type="button" data-toggle="modal" data-target=".modal-qr" title="Popover title" class="btn btn-md btn-primary">Show QR</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-lg-4"><em class="ion-ios-barcode-outline icon-fw mr"></em>Bank Account</td>
                      <td id="bank-account" class="col-lg-8"></td>
                      <td class="pull-right"></td>
                    </tr>
                    <tr>
                      <td class="col-lg-4"><em class="icon-fw mr"></em>Serial Number</td>
                      <td id="serial-number" class="col-lg-8"></td>
                      <td class="pull-right"></td>
                    </tr>
                    <tr>
                      <td class="col-lg-4"><em class="ion-ios-eye-outline icon-fw mr"></em>Description</td>
                      <td id="desciption" class="col-lg-8"></td>
                      <td class="pull-right"></td>
                    </tr>
                    <tr>
                      <td class="col-lg-4"><em class="icon-fw mr"></em>Tag</td>
                      <td id="tag" class="col-lg-8"></td>
                      <td class="pull-right"></td>
                    </tr>
                    <div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade modal-qr">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>

                            <div id="qrcode" class="qrcode text-center"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tbody>
                </table>
              </div>
              <div id="performance" role="tabpanel" aria-labelledby="profileTab" class="tab-pane fade">
                <div class="row">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Performance Type</td>
                        <td>
                          <select id="performanceType" check="true" class="form-control select2 datatable_input_col_search" tabindex="0">
                            <option value="all">All</option>
                            <option value="today">Today</option>
                          </select>
                        </td>
                        <td><em class="ion-ios-pricetags-outline icon-fw mr"></em>Total Vouchers Redeemed</td>
                        <td class="text-muted" id="totalValidVoucher"></td>
                      </tr>
                      <tr>
                        <td><em class="ion-ios-person-outline icon-fw mr"></em>Total Customer</td>
                        <td class="text-muted" id="totalCustomer"></td>
                        <td><em class="icon-fw mr"></em>Total Vouchers Used</td>
                        <td class="text-muted" id="totalUsedVoucher"></td>
                      </tr>
                      <tr>
                        <td><em class="ion-ios-cart-outline icon-fw mr"></em>Total Transactions</td>
                        <td class="text-muted" id="totalTransaction"></td>
                        <td><em class="icon-fw mr"></em>Total Transaction Value</td>
                        <td class="text-muted" id="totalVoucherValue"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div id="tableVoucher" class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-heading bg-amber-500">
                          <div class="card-title text-center">List Voucher</div>
                        </div>
                        <div class="card-body">
                          <table id="datatable1" class="table-datatable table table-striped table-hover mv-lg dataTable" role="grid" aria-describedby="datatable2_info">
                            <thead>
                            <tr>
                              <th>
                                <div class="pt0">
                                  <input type="text" name="filter_program_name" placeholder="Program" class="form-control input-sm datatable_input_col_search">
                                  <div class="mda-form-control-line"></div>
                                </div>
                              </th>
                              <th>
                                <div class="pt0">
                                  <input type="text" name="filter_voucher_code" placeholder="Voucher" class="form-control input-sm datatable_input_col_search">
                                  <div class="mda-form-control-line"></div>
                                </div>
                              </th>
                              <th>
                                <div class="pt0">
                                  <input type="text" name="filter_holder_name" placeholder="Holder" class="form-control input-sm datatable_input_col_search">
                                  <div class="mda-form-control-line"></div>
                                </div>
                              </th>
                              <th>
                                <div class="pt0">
                                  <input type="text" name="filter_last_update" placeholder="Last Update" class="form-control input-sm datatable_input_col_search">
                                  <div class="mda-form-control-line"></div>
                                </div>
                              </th>
                              <th>
                                <div class="pt0">
                                  <select name="filter_status" check="true" class="form-control select2 datatable_input_col_search" tabindex="0">
                                    <option value="">ALL</option>
                                    <option value="REDEEMED">REDEEMED</option>
                                    <option value="USED">USED</option>
                                    <option value="PAID">PAID</option>
                                  </select>
                                </div>
                              </th>
                            </tr>
                            <tr role="row">
                              <th>PROGRAM</th>
                              <th>VOUCHER</th>
                              <th>HOLDER</th>
                              <th>LAST UPDATE</th>
                              <th>STATUS</th>
                              <th>ACTION</th>
                            </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="program" role="tabpanel" aria-labelledby="programTab" class="tab-pane fade">
                <div class="row">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Total Participation Programs</td>
                        <td id="totalProgram"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div id="tableProgram" class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-heading bg-amber-500">
                          <div class="card-title text-center">List Program</div>
                        </div>
                        <div class="card-body">
                          <table id="datatableProgram" class="table-datatable table table-striped table-hover mv-lg dataTable" role="grid" aria-describedby="datatable2_info">
                            <thead>
                            <tr>
                              <th>
                                <div class="pt0">
                                  <input type="text" name="filter_program_name" placeholder="Program" class="form-control input-sm datatableProgram_input_col_search">
                                  <div class="mda-form-control-line"></div>
                                </div>
                              </th>
                              <th>
                                <div class="pt0">
                                  <select name="filter_type" check="true" class="form-control select2 datatableProgram_input_col_search" tabindex="0">
                                    <option value="">ALL</option>
                                    <option value="MOBILE APPLICATION">MOBILE APP</option>
                                    <option value="EMAIL BLAST">EMAIL BLAST</option>
                                    <option value="GIFT VOUCHER">GIFT VOUCHER</option>
                                  </select>
                                </div>
                              </th>
                              <th>
                                <div class="pt0">
                                  <input type="text" name="filter_start_date" placeholder="Start Date" class="form-control input-sm datatableProgram_input_col_search">
                                  <div class="mda-form-control-line"></div>
                                </div>
                              </th>
                              <th>
                                <div class="pt0">
                                  <input type="text" name="filter_end_date" placeholder="End Date" class="form-control input-sm datatableProgram_input_col_search">
                                  <div class="mda-form-control-line"></div>
                                </div>
                              </th>
                              <th>
                                <div class="pt0">
                                  <input type="text" name="filter_voucher_code" placeholder="Voucher" class="form-control input-sm datatableProgram_input_col_search">
                                  <div class="mda-form-control-line"></div>
                                </div>
                              </th>
                            </tr>
                            <tr role="row">
                              <th>PROGRAM</th>
                              <th>TYPE</th>
                              <th>START DATE</th>
                              <th>END DATE</th>
                              <th>VOUCHER</th>
                            </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jszip.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/pdfmake.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/vfs_fonts.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/assets/vendor/nouislider/distribute/nouislider.js"></script>
<script type="text/javascript" src="/assets/js/partner/check.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
