{{ template "layout" . }}

{{ define "title" }}Check Partner{{ end }}
{{ define "header-title" }}Check Partner{{ end }}

{{ define "content" }}
<section>
<div class="container-overlap bg-blue-grey-100 m0">
</div>
<div class="container container-md">
  <div class="card">
    <div class="card-heading bg-amber-500">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
      </div>
      <div class="card-title text-center">Partner</div>
    </div>
    <div class="card-body">
      <div class="mda-list">
        <div class="mda-list-item"><img src="/assets/img/user/01.jpg" alt="List user" class="mda-list-item-img">
          <div class="mda-list-item-text">
            <h3><a href="#">Eric Graves</a></h3>
            <p> I&apos;ll be in your neighborhood doing errands</p>
          </div>
        </div>
        <div class="mda-list-item"><img src="/assets/img/user/02.jpg" alt="List user" class="mda-list-item-img">
          <div class="mda-list-item-text">
            <h3><a href="#">Catherine Crawford</a></h3>
            <p> I&apos;ll be in your neighborhood doing errands</p>
          </div>
        </div>
        <div class="mda-list-item"><img src="/assets/img/user/03.jpg" alt="List user" class="mda-list-item-img">
          <div class="mda-list-item-text">
            <h3><a href="#">Rosemary Jimenez</a></h3>
            <p> I&apos;ll be in your neighborhood doing errands</p>
          </div>
        </div>
        <div class="mda-list-item"><img src="/assets/img/user/04.jpg" alt="List user" class="mda-list-item-img">
          <div class="mda-list-item-text">
            <h3><a href="#">Guy Carpenter</a></h3>
            <p> I&apos;ll be in your neighborhood doing errands</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/sweetalert/dist/sweetalert-dev.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/js/onload.js"></script>
{{ end }}


{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/sweetalert/dist/sweetalert.css">>
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
{{ end }}
