{{ template "layout" . }}

{{ define "title" }}Create Partner{{ end }}
{{ define "header-title" }}Create Partner{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container-overlap bg-white">
</div>
<div class="container container-md">
  <form id="create-variant" name="create-variant" novalidate="" class="card b0 form-validate">
    <div class="card">
      <div class="card-heading bg-amber-500">
          <div class="card-title text-center">Partner</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="partnerName" name="partnerName" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Partner Name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="serialNumber" name="serialNumber" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Serial Number</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" pull-right pr">
            <button type="button" onclick="send()" class="btn btn-raised btn-primary ripple">Create</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/js/partner/create.js"></script>
<script type="text/javascript" src="/assets/js/onload.js"></script>

{{ end }}

{{ define "stylesheets" }}
{{ end }}
