{{ template "layout" . }}

{{ define "title" }}Create Partner{{ end }}
{{ define "header-title" }}Create Partner{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container-overlap bg-white">
</div>
<div class="container container-md">
  <form id="create-variant" name="create-variant" novalidate="" class="card b0 form-validate">
    <div class="card">
      <div class="card-heading bg-amber-500">
          <div class="card-title text-center">Partner</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="partner-name" name="partner-name" check="true" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Partner Name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="serial-number" name="serial-number" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Serial Number</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <select id="tags" name="days" multiple="multiple" class="form-control select2" tabindex="0">
                </select>
                <div class="mda-form-control-line"></div>
                <label>Tag</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <textarea id="description" name="variant-description" rows="6" aria-multiline="true" tabindex="0" class="form-control"></textarea>
                <div class="mda-form-control-line"></div>
                <label>Description</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" pull-right pr">
            <button type="button" class="btn btn-raised btn-primary ripple swal-demo4">Create</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/sweetalert/dist/sweetalert-dev.js"></script>
<script type="text/javascript" src="/assets/js/partner/create.js"></script>
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/sweetalert/dist/sweetalert.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
