{{ template "layout" . }}

{{ define "title" }}List Partner{{ end }}
{{ define "header-title" }}List Partner{{ end }}

{{ define "content" }}
<section>
<div class="container-fluid">
  <div class="card">
    <div class="card-heading bg-amber-500">
      <div class="pull-right">
        <button type="button" onclick="addPartner()" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-plus-circled"></em></button>
      </div>
      <div class="card-title text-center">Partner</div>
    </div>
    <div class="card-body">
      <div class="row">
        <table id="datatable1" class="table-datatable table table-striped table-hover mv-lg dataTable" role="grid" aria-describedby="datatable2_info">
          <thead>
            <tr>
              <th>
                <div class="mda-form-control pt0">
                  <input type="text" name="filter_partner_name" placeholder="NAME" class="form-control input-sm datatable_input_col_search">
                  <div class="mda-form-control-line"></div>
                </div>
              </th>
              <th>
                <div class="mda-form-control pt0">
                  <input type="text" name="filter_serial_number" placeholder="BANK ACCOUNT" class="form-control input-sm datatable_input_col_search">
                  <div class="mda-form-control-line"></div>
                </div>
              </th>
              <th>
                <div class="mda-form-control pt0">
                  <input type="text" name="filter_tag" placeholder="TAG" class="form-control input-sm datatable_input_col_search">
                  <div class="mda-form-control-line"></div>
                </div>
              </th>
            </tr>
            <tr role="row">
              <th>NAME</th>
              <th>BANK ACCOUNT</th>
              <th>TAG</th>
              <th class="center-text"></th>
            </tr>
          </thead>
        </table>
        <div class="cssload-loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/vendor/nouislider/distribute/nouislider.js"></script>
<script type="text/javascript" src="/assets/js/partner/search.js"></script>
{{ end }}


{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
<link rel="stylesheet" href="/assets/css/app.css">
{{ end }}
