{{ template "layout" . }}

{{ define "title" }}List Partner{{ end }}
{{ define "header-title" }}List Partner{{ end }}

{{ define "content" }}
<section>
<div class="container-overlap bg-blue-grey-100 m0">
</div>
<div class="container container-md">
  <div class="card">
    <div class="card-heading bg-amber-500">
      <div class="pull-right">
        <button type="button" onclick="addPartner()" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-plus-circled"></em></button>
      </div>
      <div class="card-title text-center">Partner</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div id="listPartner" class="mda-list mda-list">
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/sweetalert/dist/sweetalert-dev.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/js/partner/search.js"></script>
{{ end }}


{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/sweetalert/dist/sweetalert.css">
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
{{ end }}
