{{ template "layout" . }}

{{ define "title" }}Edit Partner{{ end }}
{{ define "header-title" }}Edit Partner{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container container-md">
  <form id="updatePartner" name="updatePartner" novalidate="" class="card b0 form-validate">
    <div class="card">
      <div class="card-heading bg-amber-500">
          <div class="card-title text-center">Edit Partner : <span id="partnerName"></span></div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="serialNumber" name="serialNumber" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Serial Number</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="email" name="email" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Email</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <textarea id="description" name="description" rows="6" aria-multiline="true" tabindex="0" class="form-control"></textarea>
                <div class="mda-form-control-line"></div>
                <label>Description</label><span class="mda-form-msg right">Any message here</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" pull-right pr">
            <button type="button" onclick="update()" class="btn btn-raised btn-primary ripple">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/js/partner/update.js"></script>
{{ end }}

{{ define "stylesheets" }}
{{ end }}
