{{ template "layout" . }}

{{ define "title" }}Create Program Campaign{{ end }}
{{ define "header-title" }}Create Program Campaign{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container">
  <div class="col-lg-12">
    <form id="create-program" name="create-program" novalidate="" class="card b0 form-validate redeem-rules-form" action="/v1/ui/sample/link" method="get">
      <div class="card">
        <div class="card-heading text-center" id="program">
          <div class="card-title">Program Campaign : <span id="program-name">Gift Voucher Rp. 250.000,00</span></div>
          <input type="hidden" id="program-id">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-horizontal">
              <fieldset>
                <div class="col-lg-3">
                  <p class="m-sm">Header Image</p>
                </div>
                <div class="col-lg-9">
                  <div class="input-group">
                    <span id="dropzone-header" class="dropzone input-group-addon"></span>
                    <input id="filename-header" type="text" placeholder="Filename" class="form-control input-dropzone" disabled="disabled">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-lg-3">
                  <p class="m-sm">Voucher Image</p>
                </div>
                <div class="col-lg-9">
                  <div class="input-group">
                    <span id="dropzone-voucher" class="dropzone input-group-addon"></span>
                    <input id="filename-voucher" type="text" placeholder="Filename" class="form-control input-dropzone" disabled="disabled">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-lg-3">
                  <p class="m-sm">Footer Image</p>
                </div>
                <div class="col-lg-9">
                  <div class="input-group">
                    <span id="dropzone-footer" class="dropzone input-group-addon"></span>
                    <input id="filename-footer" type="text" placeholder="Filename" class="form-control input-dropzone" disabled="disabled">
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class=" pull-right p">
              <button type="button" data-toggle="modal" onclick="preview()" class="btn btn-raised btn-primary ripple">Preview</button>
              <button type="button" data-toggle="modal" onclick="uploadTest()" class="btn btn-raised btn-primary ripple sendButton">Upload</button>
              <button type="button" onclick="generateVoucher()" class="btn btn-raised btn-primary ripple sendButton">Generate Voucher</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

  <div id="image-header-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade">
    <div class="modal-dialog modal-loader">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <label>Uploading Header Image</label>
          </div>
          <div class="row loader-primary">
            <div class="loader-demo text-center">
              <div class="loader-inner line-scale m-loader"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="image-voucher-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade">
    <div class="modal-dialog modal-loader">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <label>Uploading Voucher Image</label>
          </div>
          <div class="row loader-primary">
            <div class="loader-demo text-center">
              <div class="loader-inner line-scale m-loader"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="image-footer-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade">
    <div class="modal-dialog modal-loader">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <label>Uploading Footer Image</label>
          </div>
          <div class="row loader-primary">
            <div class="loader-demo text-center">
              <div class="loader-inner line-scale m-loader"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-loader" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-gray-darker">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close" style="color:white"><span aria-hidden="true">&times;</span></button>
          <h4 id="myLargeModalLabel" class="modal-title">Preview</h4>
        </div>
        <div class="modal-body">
          <table style="margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0" bgcolor="#e8e9eb">
            <tbody>
            <tr>
              <td>
                <table style="width: 560px;" cellspacing="0" cellpadding="0" bgcolor="#fff" align="center">
                  <tbody>
                  <tr>
                    <td>
                      <table style="width: 560px; height: 30px;" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                          <td><span style="color: black">Dear&nbsp;%%full-name%%</span></td>
                        </tr>
                        </tbody>
                      </table>
                      <img id="image-header" src="http://mailer.gilkor.com/admin/temp/newsletters/33/header_apr_fix.jpg" alt="SedayuOne" title="SedayuOne" width="560" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table style="width: 560px;" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tbody>
                        <tr>
                          <td><!-- Main content starts here -->
                            <table style="width: 560px;" cellspacing="0" cellpadding="0" align="left">
                              <tbody>
                              <tr>
                                <td width="560"><!-- Middle column starts -->
                                  <table style="background-color: #ffffff; width: 560px;" cellspacing="0" cellpadding="0" border="0"><!-- Top news item table -->
                                    <tbody>
                                    <tr>
                                      <td height="15" width="560"><img id="image-voucher" src="http://mailer.gilkor.com/admin/temp/newsletters/116/pik_marvelous_prizes.jpg" alt="pik_marvelous_prizes.jpg" title="pik_marvelous_prizes.jpg" width="560" /></td>
                                    </tr>
                                    <!-- POIN --> <!-- POIN --> <!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN -->
                                    <tr width="560px">
                                      <td data-bg="Feature" data-bgcolor="Feature" align="center">
                                        <table border="0" align="center" cellpadding="0" cellspacing="0" style="width: 500px;">
                                          <tbody>
                                          <tr>
                                            <br \>
                                            <br \>
                                            <td data-link-style="text-decoration:none; color:black;" data-color="Feature Content" data-size="Feature Content" style="color: black; font-size: 14px;" align="center">
                                              <p><span style="font-size: small;"><span>Selamat anda mendapatkan Digital Voucher untuk promo :</span></span></p>
                                              <p><span style="font-size: small;"><span id="modal-program-name">Gift Voucher Rp. 250.000,00</span></span></p>
                                              <p style="font-size: 20px;">%%link-voucher%%</p>
                                            </td>
                                          </tr>
                                          </tbody>
                                        </table>
                                        <p style="color: black;"><span style="font-size: small; color: black;">Nantikan program-program SedayuOne menarik lainnya.</span></p>
                                        <br \>
                                      </td>
                                    </tr>
                                    <!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --><!-- POIN --> <!-- Top news item table --></tbody>
                                    <tbody>
                                    <tr>
                                      <td height="15" width="560"><img id="image-footer" title="Sedayu One" alt="Sedayu One" src="http://mailer.gilkor.com/admin/temp/newsletters/116/bannerlogo_footer.jpg" width="560" /></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td bgcolor="#fff" align="center">
                                  <table style="width: 100%;" cellspacing="0" cellpadding="0" align="center" border="0">
                                    <tbody>
                                    <tr>
                                      <td style="padding: 5px 0px 20px 0px;"><!-- UNSUBSCRIBE COPY -->
                                        <table style="width: 560px; height: 95px;" class="responsive-table" cellspacing="0" cellpadding="0" align="center" border="0">
                                          <tbody>
                                          <tr>
                                            <td style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color: #666666;" valign="middle" bgcolor="#fff" align="center">
                                              <table border="0">
                                                <tbody>
                                                <tr>
                                                  <td><a href="https://www.facebook.com/sedayuone/"><img src="http://mailer.gilkor.com/admin/temp/newsletters/33/fb_icon.png" alt="fb_icon.png" title="Facebook SedayuOne" height="32" width="32" /></a></td>
                                                  <td>facebook &nbsp; &nbsp;&nbsp;</td>
                                                  <td><a href="https://twitter.com/sedayuone"><img src="http://mailer.gilkor.com/admin/temp/newsletters/33/tw_icon.png" alt="tw_icon.png" title="Twitter SedayuOne" height="32" width="32" /></a></td>
                                                  <td>twitter &nbsp; &nbsp;</td>
                                                  <td><a href="https://www.instagram.com/sedayuone/"><img src="http://mailer.gilkor.com/admin/temp/newsletters/33/ig_icon.png" alt="ig_icon.png" title="Instagram SedayuOne" height="32" width="32" /></a></td>
                                                  <td>instagram &nbsp; &nbsp;</td>
                                                </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <br /><br /></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/clockpicker/dist/bootstrap-clockpicker.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/vendor/summernote/dist/summernote.js"></script>
<script type="text/javascript" src="/assets/vendor/loaders.css/loaders.css.js"></script>
<script type="text/javascript" src="/assets/vendor/dropzone/dist/dropzone.js"></script>
<script type="text/javascript" src="/assets/js/program/campaign.js"></script>

{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/loaders.css/loaders.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
<link rel="stylesheet" href="/assets/vendor/summernote/dist/summernote.css">
<link rel="stylesheet" href="/assets/vendor/dropzone/dist/basic.css">
<link rel="stylesheet" href="/assets/vendor/dropzone/dist/dropzone.css">
<link rel="stylesheet" href="/assets/vendor/clockpicker/dist/bootstrap-clockpicker.css">
{{ end }}
