{{ template "layout" . }}

{{ define "title" }}Program Details{{ end }}
{{ define "header-title" }}Program Details{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="container-fluid">
    <div class="row">
      <!-- Left column-->
      <div class="col-md-12 col-lg-12">
        <form editable-form="" id="profileForm" method="post" action="/v1/ui/voucher/link" name="user.profileForm" class="card">
          <h5 class="card-heading">
            <ul id="myTabs" role="tablist" class="nav nav-tabs nav-justified">
              <li role="presentation" class="active"><a id="program-tab" href="#program" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Program</a></li>
              <li role="presentation"><a id="voucher-tab" href="#voucher" role="tab" data-toggle="tab" aria-controls="profile">Voucher</a></li>
              <li role="presentation"><a id="partner-tab" href="#partner" role="tab" data-toggle="tab" aria-controls="messages">Partner</a></li>
              <li role="presentation">
                <div class="pull-right">
                  <button type="button" onclick="editProgram()" class="btn btn-default btn-flat btn-flat-icon" data-toggle="tooltip" data-placement="top" title="Edit"><em class="ion-edit"></em ></button>
                  <button type="button" id="button-voucher" onclick="programCampaign()" class="btn btn-default btn-flat btn-flat-icon" data-toggle="tooltip" data-placement="top" title="Create Campaign"><em class="ion-share"></em></button>
                </div>
              </li>
            </ul>
            <input type="hidden" name="program" id="program-id">
            <input type="hidden" name="token" id="token">
          </h5>
          <div class="card-body">
            <div id="myTabContent" class="tab-content">
              <div id="program" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade in active">
                <table id="dvData" class="table table-striped">
                  <tbody>
                  <tr>
                    <td class="col-lg-4"><em class="ion-document-text icon-fw mr"></em>Program Name</td>
                    <td id="program-name" class="col-lg-8"></td>
                  </tr>
                  <tr>
                    <td class="col-lg-4"><em class="icon-fw mr"></em>Program Type</td>
                    <td id="program-type" class="col-lg-8"></td>
                  </tr>
                  <tr>
                    <td class="col-lg-4"><em class="ion-calculator icon-fw mr"></em>Voucher Price
                    </td>
                    <td id="conversion-rate" class="col-lg-8"></td>
                  </tr>
                  <tr>
                    <td class="col-lg-4"><em class="ion-cash icon-fw mr"></em>Voucher Value</td>
                    <td id="voucher-value" class="col-lg-8"></td>
                  </tr>
                  <tr>
                    <td class="col-lg-4"><em class="ion-ios-calendar icon-fw mr"></em>Period</td>
                    <td id="period" class="col-lg-8"></td>
                  </tr>
                  <tr>
                    <td class="col-lg-4"><em class="ion-asterisk icon-fw mr"></em>Term and Condition</td>
                    <td id="program-tnc" class="col-lg-8"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div id="voucher" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade">
                <div class="row">
                  <div class="col-lg-8">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td class="col-lg-6"><em class="ion-pricetags icon-fw mr"></em>Limit Voucher</td>
                          <td id="max-quantity-voucher" class="col-lg-6"></td>
                          </tr>
                        <tr>
                          <td class="col-lg-6"><em class="icon-fw mr"></em>Stock Voucher</td>
                          <td id="remaining-voucher" class="col-lg-6"></td>
                        </tr>
                        <tr>
                          <td class="col-lg-6"><em class="icon-fw mr"></em>Generated Voucher</td>
                          <td id="created-voucher" class="col-lg-6"></td>
                        </tr>
                        <tr>
                          <td class="col-lg-6"><em class="icon-fw mr"></em>Used Voucher</td>
                          <td id="used-voucher" class="col-lg-6"></td>
                        </tr>
                        <tr>
                          <td class="col-lg-6"><em class="icon-fw mr"></em>Paid Voucher</td>
                          <td id="paid-voucher" class="col-lg-6"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-lg-4">
                    <div class="row">
                      <div class="col-lg-6">Budget</div>
                      <div id="total-money" class="col-lg-6"></div>
                    </div>
                    <br/>
                    <div class="row">
                      <div id="pie" class="text-center p">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="partner" role="tabpanel" aria-labelledby="messages-tab" class="tab-pane fade">
                <div id="list-partner" class="row">

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="table-voucher" class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-heading bg-amber-500">
            <div class="card-title text-center">Voucher</div>
          </div>
          <div class="card-body">
            <table id="datatable1" class="table-datatable table table-striped table-hover mv-lg dataTable" role="grid" aria-describedby="datatable2_info">
              <thead>
              <tr>
                <th>
                  <div class="mda-form-control pt0">
                    <input type="text" name="filter_voucher_code" placeholder="Voucher" class="form-control input-sm datatable_input_col_search">
                    <div class="mda-form-control-line"></div>
                  </div>
                </th>
                <th>
                  <div class="mda-form-control pt0">
                    <input type="text" name="filter_holder_name" placeholder="Holder" class="form-control input-sm datatable_input_col_search">
                    <div class="mda-form-control-line"></div>
                  </div>
                </th>
                <th>
                  <div class="mda-form-control pt0">
                    <input type="text" name="filter_valid_from" placeholder="Valid" class="form-control input-sm datatable_input_col_search">
                    <div class="mda-form-control-line"></div>
                  </div>
                </th>
                <th>
                  <div class="mda-form-control pt0">
                    <input type="text" name="filter_expired" placeholder="Expired" class="form-control input-sm datatable_input_col_search">
                    <div class="mda-form-control-line"></div>
                  </div>
                </th>
                <th>
                  <div class="mda-form-control pt0">
                    <select name="filter_status" check="true" class="form-control select2 datatable_input_col_search" tabindex="0">
                      <option value="">ALL</option>
                      <option value="CREATED">CREATED</option>
                      <option value="USED">USED</option>
                      <option value="PAID">PAID</option>
                    </select>
                    <div class="mda-form-control-line"></div>
                  </div>
                </th>
              </tr>
              <tr role="row">
                <th>Voucher</th>
                <th>Holder</th>
                <th>Valid</th>
                <th>Expired</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jszip.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/pdfmake.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/vfs_fonts.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/assets/vendor/nouislider/distribute/nouislider.js"></script>
<script src="/assets/vendor/flot/jquery.flot.js"></script>
<script src="/assets/vendor/flot/jquery.flot.categories.js"></script>
<script src="/assets/vendor/flot.tooltip/js/jquery.flot.tooltip.js"></script>
<script src="/assets/vendor/flot/jquery.flot.resize.js"></script>
<script src="/assets/vendor/flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/assets/js/program/check.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
