{{ template "layout" . }}

{{ define "title" }}Create Program{{ end }}
{{ define "header-title" }}Create Program{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container-fluid p0">
  <div class="col-lg-2 p0">
    <div class="card no-border mb0">
      <div class="card-body text-center overflow-side-container">
        <div class="pv"><a href="#program">Program</a></div>
        <div class="pv"><a href="#voucher">Voucher</a></div>
        <div class="pv distribution"><a href="#distribution">Distribution Rules</a></div>
        <div class="pv"><a href="#using">Redeem Rules</a></div>

        <div id="modal-loader" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade">
          <div class="modal-dialog modal-loader">
            <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                  <label>Uploading Image</label>
                </div>
                <div class="row loader-primary">
                  <div class="loader-demo text-center">
                    <div class="loader-inner line-scale m-loader"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-10 p0 overflow-container">
    <form id="create-program" name="create-program" novalidate="" class="card b0 form-validate redeem-rules-form" action="" method="">
      <div class="card">
        <div class="card-heading text-center" id="program">
          <div class="card-title">Program</div>
        </div>
        <div class="card-body">
          <div class="row form-horizontal">
            <div class="col-sm-2">
              <label class="control-label">Program Name</label>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-control no-border">
                  <input id="program-name" name="program-name" placeholder="Program Name" tabindex="0" aria-invalid="false" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <label class="control-label">Program Type</label>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-control no-border">
                  <select id="program-type" name="program-type" class="form-control select2" tabindex="0">
                    <option value="on-demand">Mobile Application</option>
                    <option value="bulk">Email Blast</option>
                    <option value="gift">Gift Voucher</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-horizontal">
            <div class="col-sm-2">
              <label class="control-label">Program Period</label>
            </div>
            <div class="col-sm-4">
              <div class="form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
                <div id="datepicker-program-from" class="form-control no-border">
                  <input id="program-valid-from" name="program-valid-from" placeholder="Select Date" tabindex="0" aria-invalid="false" class="form-control datepicker-program-from">
                </div>
              </div>
            </div>
            <div class="col-sm-1" style="text-align: center">
              <label class="control-label">-</label>
            </div>
            <div class="col-sm-5">
              <div class="form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
                <div id="datepicker-program-to" class="form-control no-border">
                  <input id="program-valid-to" name="program-valid-to" placeholder="Select Date" tabindex="0" aria-invalid="false" class="form-control datepicker-program-to">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mda-form-group">
                <div class="mda-form-control no-border-bottom">
                  <span><img id="image-preview" class="image-preview" src="/assets/img/Default_image_blank_voucher.jpg"></span>
                  <input id="image-url" name="image-url" type="file" tabindex="0" aria-invalid="false" class="form-control">
                  <div class="mda-form-control-line"></div>
                  <label>Voucher Image</label>
                </div>
              </div>
            </div>
            <div id="target" class="col-sm-6 form-horizontal" style="display:none">
              <div class="row">
                <div class="col-sm-4">
                  <label class="control-label">List Target</label>
                </div>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input id="list-target" name="list-target" type="file" tabindex="0" aria-invalid="false" class="no-border form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <button type="button" onclick="download()" class="btn btn-raised btn-primary ripple">Download Sample CSV</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="mda-form-group">
                <div class="mda-form-control">
                  <textarea id="program-description" name="program-description" rows="6" aria-multiline="true" tabindex="0" class="form-control"></textarea>
                  <div class="mda-form-control-line"></div>
                  <label>Description</label><span class="mda-form-msg right">Any message here</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>Terms And Conditions</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div id="list-rule" class="summernote"></div>
            </div>
          </div>
        </div>

        <div class="card-heading text-center" id="voucher">
          <div class="card-title">Voucher</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5 text-center">
              <label>Voucher Price</label>
            </div>
            <div class="col-sm-2 text-center">
              <label class="ion-arrow-swap"></label>
            </div>
            <div class="col-sm-5 text-center">
              <label>Voucher Value</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <div class="input-group">
                  <input id="voucher-price" name="voucher-price" class="form-control" type="text" placeholder="0"><span class="input-group-addon">Points</span>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
              <div class="form-group">
                <div class="input-group"><span class="input-group-addon">Rp.</span>
                  <input id="voucher-value" name="voucher-value" class="form-control" type="text" placeholder="0"><span class="input-group-addon">.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mda-form-group">
                <div class="mda-form-control">
                  <select id="voucher-format" name="voucher-format" class="form-control select2" tabindex="0">
                    <option value="Alphanumeric">Alphanumeric</option>
                    <option value="Alphabet">Alphabetic</option>
                    <option value="Numerals">Numeric</option>
                  </select>
                  <div class="mda-form-control-line"></div>
                  <label>Voucher Format</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mda-form-group">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input id="prefix" name="prefix" tabindex="0" aria-invalid="false" class="form-control">
                    <div class="mda-form-control-line"></div>
                    <label>Prefix</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-heading text-center distribution" id="distribution">
          <div class="card-title">Distribution Rules</div>
        </div>
        <div class="card-body distribution">
          <div class="row">
            <div class="col-sm-6">
              <div class="mda-form-group">
                <div class="mda-form-control">
                  <input id="voucher-quantity" name="voucher-quantity" placeholder="Min 1" tabindex="0" aria-invalid="false" class="form-control">
                  <div class="mda-form-control-line"></div>
                  <label>Voucher Quantity</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mda-form-group">
                <div class="mda-form-control">
                  <input id="generate-voucher" name="generate-voucher" placeholder="Min 1" tabindex="0" aria-invalid="false" class="form-control">
                  <div class="mda-form-control-line"></div>
                  <label>Maximum Number of Redeemed Vouchers</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-heading text-center" id="using">
          <div class="card-title">Redeem Rules</div>
        </div>
        <div class="card-body">
          <div class="row form-horizontal">
            <div class="col-sm-2">
              <label class="control-label">Expiration</label>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="form-control no-border">
                  <select id="voucher-validity-type" name="voucher-validity-type" class="form-control select2" tabindex="0">
                    <option value="lifetime">Days</option>
                    <option value="period">Date Range</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="validity-lifetime" class="col-sm-2" style="display:none">
              <div class="form-group">
                <div class="form-control no-border">
                  <div class="input-group">
                    <input id="voucher-lifetime" name="voucher-lifetime" type="text" placeholder="0" class="form-control">
                    <span class="input-group-addon">Days</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="validity-date" class="col-sm-8">
              <div class="col-sm-6">
                <div class="mda-form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
                  <div id="datepicker-voucher-from" class="mda-form-control">
                    <input id="voucher-valid-from" name="voucher-valid-from" tabindex="0" aria-invalid="false" class="form-control datepicker-voucher-from">
                    <div class="mda-form-control-line"></div>
                    <label>From</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mda-form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
                  <div id="datepicker-voucher-to" class="mda-form-control">
                    <input id="voucher-valid-to" name="voucher-valid-to" tabindex="0" aria-invalid="false" class="form-control datepicker-voucher-to">
                    <div class="mda-form-control-line"></div>
                    <label>To</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row form-horizontal">
            <div class="col-sm-2">
              <label class="control-label">Redemption Method</label>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="form-control no-border">
                  <select id="redemption-method" name="redemption-method" class="form-control select2" tabindex="0">
                    <option value="qr">QR</option>
                    <option value="token">Token</option>
                  </select>
                </div>
              </div>
            </div>

            <div id="conversion-row" class="col-sm-6">
              <div class="col-sm-6">
                <label class='checkbox-inline c-checkbox'>
                  <input type='checkbox' id="allow-accumulative">
                  <span class='ion-checkmark-round'></span>
                  <label class='checkbox-label'>Allow Multiple Vouchers</label>
                </label>
              </div>

              <div id="div-max-redeem-voucher" class="col-sm-6" style="display: none">
                <div class="form-group">
                  <div class="form-control no-border">
                    <div class="input-group">
                      <input id="max-redeem-voucher" name="max-redeem-voucher" type="text" placeholder="0" class="form-control">
                      <span class="input-group-addon">Vouchers</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row form-horizontal">
            <div class="col-sm-2">
              <label class="control-label">Valid Day</label>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="form-control no-border">
                  <select id="redeem-validity-type" name="redeem-validity-type" class="form-control select2" tabindex="0">
                    <option value="all">All Day</option>
                    <option value="weekend">Weekend</option>
                    <option value="weekday">Weekday</option>
                    <option value="selected">Custom</option>
                  </select>
                </div>
              </div>
            </div>

            <div id="validity-day" class="col-sm-8 border">
              <div id="dayList" class="mda-form-group checkbox-add-padding">
                <div class='col-sm-4'>
                  <label class='checkbox-inline c-checkbox'>
                    <input type='checkbox' name="day[]" class='days' value='sunday'>
                    <span class='ion-checkmark-round'></span> Sunday
                  </label>
                </div>
                <div class='col-sm-4'>
                  <label class='checkbox-inline c-checkbox'>
                    <input type='checkbox' name="day[]" class='days' value='monday'>
                    <span class='ion-checkmark-round'></span> Monday
                  </label>
                </div>
                <div class='col-sm-4'>
                  <label class='checkbox-inline c-checkbox'>
                    <input type='checkbox' name="day[]" class='days' value='tuesday'>
                    <span class='ion-checkmark-round'></span> Tuesday
                  </label>
                </div>
                <div class='col-sm-4'>
                  <label class='checkbox-inline c-checkbox'>
                    <input type='checkbox' name="day[]" class='days' value='wednesday'>
                    <span class='ion-checkmark-round'></span> Wednesday
                  </label>
                </div>
                <div class='col-sm-4'>
                  <label class='checkbox-inline c-checkbox'>
                    <input type='checkbox' name="day[]" class='days' value='thursday'>
                    <span class='ion-checkmark-round'></span> Thursday
                  </label>
                </div>
                <div class='col-sm-4'>
                  <label class='checkbox-inline c-checkbox'>
                    <input type='checkbox' name="day[]" class='days' value='friday'>
                    <span class='ion-checkmark-round'></span> Friday
                  </label>
                </div>
                <div class='col-sm-4'>
                  <label class='checkbox-inline c-checkbox'>
                    <input type='checkbox' name="day[]" class='days' value='saturday'>
                    <span class='ion-checkmark-round'></span> Saturday
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row form-horizontal">
            <div class="col-sm-2">
              <label class="control-label">Valid Hours</label>
            </div>
            <div class="col-sm-2 ">
              <div class="form-group clockpicker" data-autoclose="true">
                <div class="form-control no-border">
                  <input id="start-hour" name="start-hour" placeholder="00:00" tabindex="0" aria-invalid="false" class="form-control" style="text-align: center">
                </div>
              </div>
            </div>
            <div class="col-sm-1" style="text-align: center">
              <label class="control-label">-</label>
            </div>
            <div class="col-sm-2">
              <div class="form-group clockpicker" data-autoclose="true">
                <div class="form-control no-border">
                  <input id="end-hour" name="end-hour" placeholder="00:00" tabindex="0" aria-invalid="false" class="form-control" style="text-align: center">
                </div>
              </div>
            </div>
          </div>

          <div class="row form-horizontal">
            <div class="col-sm-2">
              <label class="control-label">Partner</label>
            </div>
            <div name="" class="col-sm-2">
              <div class="form-group">
                <div class="form-control no-border">
                  <select id="tag" name="tag" class="form-control select2" tabindex="0">
                    <option>All</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-horizontal">
            <div name="" class="col-sm-10 col-sm-offset-2 border">
              <div class="row">
                <div id="partner-list" class="mda-form-group checkbox-add-padding">
                  <div class='col-sm-12'>
                    <label class='checkbox-inline c-checkbox'>
                      <input type='checkbox' name="partner" id="all-tenant">
                      <span class='ion-checkmark-round'></span>All Partners
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class=" pull-right p">
              <button type="button" id="sendButton" data-toggle="modal" onclick="send()" class="btn btn-raised btn-primary ripple">Create</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/clockpicker/dist/bootstrap-clockpicker.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/vendor/summernote/dist/summernote.js"></script>
<script type="text/javascript" src="/assets/vendor/loaders.css/loaders.css.js"></script>
<script type="text/javascript" src="/assets/js/program/create.js"></script>

{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/loaders.css/loaders.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
<link rel="stylesheet" href="/assets/vendor/summernote/dist/summernote.css">
<link rel="stylesheet" href="/assets/vendor/clockpicker/dist/bootstrap-clockpicker.css">
{{ end }}
