{{ template "layout" . }}

{{ define "title" }}Digital Voucher{{ end }}
{{ define "header-title" }}Digital Voucher{{ end }}

{{ define "content" }}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <!-- Activity feed-->
        <div class="card">
          <div class="card-body pv">
            <div class="clearfix">
              <div class="col-lg-2">
                <img src="/assets/img/icons/ongoing_program.png" class="icon-dashboard-sm">
              </div>
              <div class="col-lg-7">
                <small>TODAY</br>ONGOING PROGRAM</small>
              </div>
              <div class="col-lg-3">
                <h4 id="totalProgram" class="m0">-</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="card">
          <div class="card-body pv">
            <div class="clearfix">
              <div class="col-lg-2">
                <img src="/assets/img/icons/cash_out.png" class="icon-dashboard-sm">
              </div>
              <div class="col-lg-7">
                <small>TODAY</br>ISSUED VOUCHER</small>
              </div>
              <div class="col-lg-3">
                <h4 id="totalIssued" class="m0">-</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="card">
          <div class="card-body pv">
            <div class="clearfix">
              <div class="col-lg-2">
                <img src="/assets/img/icons/unpaid.png" class="icon-dashboard-sm">
              </div>
              <div class="col-lg-7">
                <small>TODAY</br>UNPAID VOUCHER</small>
              </div>
              <div class="col-lg-3">
                <h4 id="totalUnpaid" class="m0">-</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12">
        <div class="card height-215">
          <div class="card-body pv">
            <div class="clearfix">
              <div class="row">
                <div class="col-lg-12">
                  <small>VOUCHER PAYABLE</small>
                </div>
              </div>
              <div class="row">
                <div class="text-center">
                  <img src="/assets/img/icons/loan.png" class="icon-dashboard-lg">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                  <h5 class="text-center">Rp <span id="payable"></span>,00</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12">
        <div class="card height-215">
          <div class="card-body pv">
            <div class="clearfix">
              <div class="row pb-sm">
                <div class="col-lg-12">
                  <small>VOUCHER DISTRIBUTION (in voucher)</small>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div id="pie" class="text-center p">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <h5 class="card-heading">Ongoing Programs</h5>
          <div class="card-body">
            <div id="ongoingProgram" class="panel-group" role="tablist" area-multiselectable="true">
              <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script src="/assets/vendor/sparkline/index.js"></script>
<script src="/assets/vendor/flot/jquery.flot.js"></script>
<script src="/assets/vendor/flot/jquery.flot.categories.js"></script>
<script src="/assets/vendor/flot-spline/js/jquery.flot.spline.js"></script>
<script src="/assets/vendor/flot.tooltip/js/jquery.flot.tooltip.js"></script>
<script src="/assets/vendor/flot/jquery.flot.resize.js"></script>
<script src="/assets/vendor/flot/jquery.flot.pie.js"></script>
<script src="/assets/vendor/flot/jquery.flot.time.js"></script>
<script src="/assets/vendor/sidebysideimproved/jquery.flot.orderBars.js"></script>
<script src="/assets/vendor/flot/jquery.flot.js"></script>
<script src="/assets/vendor/flot/jquery.flot.categories.js"></script>
<script src="/assets/vendor/flot.tooltip/js/jquery.flot.tooltip.js"></script>
<script src="/assets/vendor/flot/jquery.flot.resize.js"></script>
<script src="/assets/vendor/flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/assets/js/program/index.js"></script>
{{ end }}

{{ define "stylesheets" }}
{{ end }}
