{{ template "layout" . }}

{{ define "title" }}List Program{{ end }}
{{ define "header-title" }}List Program{{ end }}

{{ define "content" }}
<section>
<div class="container-fluid">
  <div class="card">
    <div class="card-heading bg-amber-500">
      <div class="pull-right">
        <button type="button" onclick="addProgram()" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-plus-circled"></em></button>
      </div>
      <div class="card-title text-center">Program</div>
    </div>
    <div class="card-body">
      <table id="datatable1" class="table-datatable table table-striped table-hover mv-lg dataTable" role="grid" aria-describedby="datatable2_info">
        <thead>
          <tr>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_program_name" placeholder="PROGRAM" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <select name="filter_voucher_type" check="true" class="form-control select2 datatable_input_col_search" tabindex="0">
                  <option value="">ALL</option>
                  <option value="MOBILE APP">MOBILE APP</option>
                  <option value="EMAIL BLAST">EMAIL BLAST</option>
                </select>
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_conversion" placeholder="CONVERSION" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <select name="filter_status" check="true" class="form-control select2 datatable_input_col_search" tabindex="0">
                  <option value="">ALL</option>
                  <option value="ACTIVE">ACTIVE</option>
                  <option value="END">END</option>
                </select>
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_start_date" placeholder="START" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_end_date" placeholder="END" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_last_modified" placeholder="LAST MODIFIED" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_total_voucher" placeholder="TOTAL" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_available_voucher" placeholder="AVAILABLE" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
          </tr>
          <tr role="row">
            <th>Program Name</th>
            <th>Type</th>
            <th>Conversion</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Last Modified</th>
            <th>Total</th>
            <th>Available</th>
            <th>DISTRIBUTION</th>
            <th>REDEMPTION</th>
            <th class="center-text"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jszip.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/pdfmake.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/vfs_fonts.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/assets/vendor/nouislider/distribute/nouislider.js"></script>
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/js/program/search.js"></script>
{{ end }}


{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/nouislider/distribute/nouislider.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
