{{ template "layout" . }}

{{ define "title" }}Send Campaign{{ end }}
{{ define "header-title" }}Send Campaign{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="container-fluid">
    <div id="transaction-card" class="card">
      <div class="card-heading bg-amber-500">
        <div class="card-title text-center">Summary</div>
      </div>
      <div class="card-body">
        <form id="transaction" name="transaction" novalidate="" class="card b0 form-validate">
          <input type="hidden" id="program-id" name="program-id" class="form-control">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <p class="text-muted">Email Campaign's Name</p>
              </div>
              <div class="col-md-9 col-sm-9">
                <p id="campaign-name"></p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <p class="text-muted">Subject Name</p>
              </div>
              <div class="col-md-9 col-sm-9">
                <p id="subject-name"></p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <p class="text-muted">Sender Email</p>
              </div>
              <div class="col-md-9 col-sm-9">
                <p id="email-sender"></p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <p class="text-muted">Send to (<span id="total-email"></span>)</p>
              </div>
              <div class="col-md-9 col-sm-9">
                <p id="list-name"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class=" pull-right pr">
              <button type="button" onclick="send()" class="btn btn-raised btn-primary ripple">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/js/program/send_campaign.js"></script>
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
