{{ template "layout" . }}

{{ define "title" }}Edit Program{{ end }}
{{ define "header-title" }}Edit Program{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
  <div class="container-fluid p0">
    <div class="col-lg-2 p0">
      <div class="card no-border mb0">
        <div class="card-body text-center overflow-side-container">
          <div class="pv"><a href="#program">Program</a></div>
          <div class="pv"><a href="#voucher">Voucher</a></div>
          <div class="pv"><a href="#distribution">Distribution Rules</a></div>
          <div class="pv"><a href="#using">Redeem Rules</a></div>
        </div>
      </div>

      <div id="modalLoader" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade">
        <div class="modal-dialog modal-loader">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <label>Uploading Image</label>
              </div>
              <div class="row loader-primary">
                <div class="loader-demo text-center">
                  <div class="loader-inner line-scale m-loader"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-10 p0 overflow-container">
      <form id="updateProgram" name="updateProgram" novalidate="" class="card b0 form-validate redeem-rules-form" action="/v1/ui/sample/link" method="get">
        <div class="card">
          <div class="card-heading text-center" id="program">
            <div class="card-title">Program</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input id="programName" name="programName" placeholder="Program Name" tabindex="0" aria-invalid="false" class="form-control">
                    <input id="programId" type="hidden">
                    <div class="mda-form-control-line"></div>
                    <label>Program Name</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <select id="programType" name="programType" class="form-control select2" tabindex="0">
                      <option value="on-demand">Mobile Application</option>
                      <option value="bulk">Email Blast</option>
                      <option value="gift">Gift Voucher</option>
                    </select>
                    <div class="mda-form-control-line"></div>
                    <label>Program Type</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label>Distribution Period</label>
              </div>
            </div>
            <div class="row ">
              <div class="col-sm-6">
                <div class="mda-form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
                  <div id="example-datepicker-container-4" class="mda-form-control">
                    <input id="programValidFrom" name="programValidFrom" placeholder="Select Date" tabindex="0" aria-invalid="false" class="form-control datepicker4">
                    <div class="mda-form-control-line"></div>
                    <label>From</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input id="programValidTo" name="programValidTo" placeholder="Select Date" tabindex="0" aria-invalid="false" class="form-control datepicker4">
                    <div class="mda-form-control-line"></div>
                    <label>To</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="mda-form-group">
                  <div class="mda-form-control no-border-bottom">
                    <span><img id="imagePreview" class="image-preview" src="/assets/img/Default_image_blank_voucher.jpg"></span>
                    <input id="imageUrl" name="imageUrl" type="file" tabindex="0" aria-invalid="false" class="form-control">
                    <div class="mda-form-control-line"></div>
                    <label>Voucher Image</label>
                    <input id="imageUrlDefault" name="imageUrlDefault" type="hidden">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <textarea id="programDescription" name="program-description" rows="6" aria-multiline="true" tabindex="0" class="form-control"></textarea>
                    <div class="mda-form-control-line"></div>
                    <label>Description</label><span class="mda-form-msg right">Any message here</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label>Terms And Conditions</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div id="listRule" class="summernote"></div>
              </div>
            </div>
          </div>

          <div class="card-heading text-center" id="voucher">
            <div class="card-title">Voucher</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5 text-center">
                <label>Voucher Price</label>
              </div>
              <div class="col-sm-2 text-center">
                <label class="ion-arrow-swap"></label>
              </div>
              <div class="col-sm-5 text-center">
                <label>Voucher Value</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="form-group">
                  <div class="input-group">
                    <input id="voucherPrice" name="voucherPrice" class="form-control" type="text" placeholder="0"><span class="input-group-addon">Points</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-sm-offset-2">
                <div class="form-group">
                  <div class="input-group"><span class="input-group-addon">Rp.</span>
                    <input id="voucherValue" name="voucherValue" class="form-control" type="text" placeholder="0"><span class="input-group-addon">.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-heading text-center" id="distribution">
            <div class="card-title">Distribution Rules</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input id="maxQuantityVoucher" name="maxQuantityVoucher" placeholder="Min 1" tabindex="0" aria-invalid="false" class="form-control">
                    <div class="mda-form-control-line"></div>
                    <label>Voucher Quantity</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input id="maxGenerateVoucher" name="maxGenerateVoucher" placeholder="Min 1" tabindex="0" aria-invalid="false" class="form-control">
                    <div class="mda-form-control-line"></div>
                    <label>Maximum Number of Redeemed Vouchers</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-heading text-center" id="using">
            <div class="card-title">Redeem Rules</div>
          </div>
          <div class="card-body">
            <div class="row form-horizontal">
              <div class="col-sm-2">
                <label class="control-label">Expiration</label>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <div class="form-control no-border">
                    <select id="voucherValidityType" name="voucher-type" class="form-control select2" tabindex="0">
                      <option value="lifetime">Days</option>
                      <option value="period">Date Range</option>
                    </select>
                  </div>
                </div>
              </div>
              <div id="validityLifetime" class="col-sm-2" style="display:none">
                <div class="form-group">
                  <div class="form-control no-border">
                    <div class="input-group">
                      <input id="voucherLifetime" name="voucherLifetime" type="text" placeholder="0" class="form-control">
                      <span class="input-group-addon">Days</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="validityDate" class="col-sm-8">
                <div class="col-sm-6">
                  <div class="mda-form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
                    <div id="example-datepicker-container-3" class="mda-form-control">
                      <input id="voucherValidFrom" name="voucherValidFrom" tabindex="0" aria-invalid="false" class="form-control datepicker3">
                      <div class="mda-form-control-line"></div>
                      <label>From</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="mda-form-group">
                    <div class="mda-form-control">
                      <input id="voucherValidTo" name="voucherValidTo" tabindex="0" aria-invalid="false" class="form-control datepicker3">
                      <div class="mda-form-control-line"></div>
                      <label>To</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row form-horizontal">
              <div class="col-sm-2">
                <label class="control-label">Redemption Method</label>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <div class="form-control no-border">
                    <select id="redemptionMethod" name="redemptionMethod" class="form-control select2" tabindex="0">
                      <option value="qr">QR</option>
                      <option value="token">Token</option>
                    </select>
                  </div>
                </div>
              </div>

              <div id="conversionRow" class="col-sm-6 col-sm-offset-2">
                <div class="col-sm-6">
                  <label class='checkbox-inline c-checkbox'>
                    <input type='checkbox' id="allowAccumulative">
                    <span class='ion-checkmark-round'></span>
                    <label class='checkbox-label'>Allow Multiple Vouchers</label>
                  </label>
                </div>

                <div id="divMaxRedeemVoucher" class="col-sm-6" style="display: none">
                  <div class="form-group">
                    <div class="form-control no-border">
                      <div class="input-group">
                        <input id="maxRedeemVoucher" name="maxRedeemVoucher" type="text" placeholder="0" class="form-control">
                        <span class="input-group-addon">Vouchers</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row ">
              <div class="col-sm-6">
                <div class="mda-form-group clockpicker" data-autoclose="true">
                  <div class="mda-form-control">
                    <input id="startHour" name="startHour" placeholder="00:00" tabindex="0" aria-invalid="false" class="form-control">
                    <div class="mda-form-control-line"></div>
                    <label>Valid Hours : From</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mda-form-group clockpicker" data-autoclose="true">
                  <div class="mda-form-control">
                    <input id="endHour" name="endHour" placeholder="00:00" tabindex="0" aria-invalid="false" class="form-control">
                    <div class="mda-form-control-line"></div>
                    <label>To</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-horizontal">
              <div class="col-sm-2">
                <label class="control-label">Valid Days</label>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <div class="form-control no-border">
                    <select id="redeemValidityType" name="redeemValidityType" class="form-control select2" tabindex="0">
                      <option value="all">All Day</option>
                      <option value="weekend">Weekend</option>
                      <option value="weekday">Weekday</option>
                      <option value="selected">Custom</option>
                    </select>
                  </div>
                </div>
              </div>

              <div id="validityDay" class="col-sm-8 border">
                <div id="dayList" class="mda-form-group checkbox-add-padding">
                  <div class='col-sm-4'>
                    <label class='checkbox-inline c-checkbox'>
                      <input type='checkbox' name="day[]" class='days' value='sunday'>
                      <span class='ion-checkmark-round'></span> Sunday
                    </label>
                  </div>
                  <div class='col-sm-4'>
                    <label class='checkbox-inline c-checkbox'>
                      <input type='checkbox' name="day[]" class='days' value='monday'>
                      <span class='ion-checkmark-round'></span> Monday
                    </label>
                  </div>
                  <div class='col-sm-4'>
                    <label class='checkbox-inline c-checkbox'>
                      <input type='checkbox' name="day[]" class='days' value='tuesday'>
                      <span class='ion-checkmark-round'></span> Tuesday
                    </label>
                  </div>
                  <div class='col-sm-4'>
                    <label class='checkbox-inline c-checkbox'>
                      <input type='checkbox' name="day[]" class='days' value='wednesday'>
                      <span class='ion-checkmark-round'></span> Wednesday
                    </label>
                  </div>
                  <div class='col-sm-4'>
                    <label class='checkbox-inline c-checkbox'>
                      <input type='checkbox' name="day[]" class='days' value='thursday'>
                      <span class='ion-checkmark-round'></span> Thursday
                    </label>
                  </div>
                  <div class='col-sm-4'>
                    <label class='checkbox-inline c-checkbox'>
                      <input type='checkbox' name="day[]" class='days' value='friday'>
                      <span class='ion-checkmark-round'></span> Friday
                    </label>
                  </div>
                  <div class='col-sm-4'>
                    <label class='checkbox-inline c-checkbox'>
                      <input type='checkbox' name="day[]" class='days' value='saturday'>
                      <span class='ion-checkmark-round'></span> Saturday
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label class="control-label">Partner</label>
              </div>
              <div class="col-sm-10 border">
                <div id="partnerList" class="mda-form-group checkbox-add-padding">
                  <div class='col-sm-12'>
                    <label class='checkbox-inline c-checkbox'>
                      <input type='checkbox' id="all-tenant">
                      <span class='ion-checkmark-round'></span>All Partners
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" pull-right p">
                <span id="error-message" class="text-danger"></span>
                <button type="button" data-toggle="modal" onclick="send()" class="btn btn-raised btn-primary ripple">Update</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/clockpicker/dist/bootstrap-clockpicker.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/vendor/summernote/dist/summernote.js"></script>
<script type="text/javascript" src="/assets/vendor/loaders.css/loaders.css.js"></script>
<script type="text/javascript" src="/assets/js/program/update.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
<link rel="stylesheet" href="/assets/vendor/summernote/dist/summernote.css">
<link rel="stylesheet" href="/assets/vendor/clockpicker/dist/bootstrap-clockpicker.css">
{{ end }}
