{{ template "layout" . }}

{{ define "title" }}Create Variant{{ end }}

{{ define "content" }}
<form>
  <div class="row">
    <div class="form-group left-panel">
      <div class="form-group">
        <div class="row">
          <label class="panel-content_left" for="variantName">Name</label>
          <input type="text" class="form-control panel-content_right" id="variantName" name="variantName" placeholder="Variant Name" value="a" required>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="panel-content_left" for="variantType">Type</label>
          <input type="text" class="form-control panel-content_right" id="variantType" name="variantType" placeholder="Variant Type" value="a" required>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="panel-content_left" for="discountValue">Disccount Value</label>
          <input type="number" class="form-control panel-content_right" id="discountValue" name="discountValue" placeholder="Discount" value="100000" required>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="panel-content_left" for="maxVoucher">Max Voucher</label>
          <input type="number" class="form-control panel-content_right" id="maxVoucher" name="maxVoucher" placeholder="Max Voucher" value="100" required>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="panel-content_left" for="startDate">Start</label>
          <input type="text" class="form-control panel-content_right datepicker" name="startDate" id="startDate" placeholder="Start Date" required>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="panel-content_left" for="endDate">End</label>
          <input type="text" class="form-control panel-content_right datepicker" name="endDate" id="endDate" placeholder="End Date" required>
        </div>
      </div>

      <input type="button" class="btn btn-default" value="Submit" onclick="send()"></input>
    </div>
    <div class="form-group right-panel">
      <div class="form-group">
        <div class="row">
          <div class="panel-content_row">
            <input type="checkbox" id="allowAccumulative" name="allowAccumulative">
            <label>Allow Accumulative</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="panel-content_left" for="pointNeeded">Point</label>
          <input type="number" class="form-control panel-content_right" id="pointNeeded" name="pointNeeded" value="10" placeholder="Point">
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="panel-content_left" for="imgUrl">Image URL</label>
          <input type="text" class="form-control panel-content_right" id="imgUrl" name="imgUrl" value="a" placeholder="Image URL">
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="panel-content_left" for="exampleInputPassword1">T&C</label>
          <textarea id="variantTnc" name="variantTnc" class="form-control panel-content_right" form="usrform" value="a" placeholder="Enter text here..."></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/js/variant/variant.js"></script>
{{ end }}
