{{ template "layout" . }}

{{ define "title" }}Create Program{{ end }}
{{ define "header-title" }}Create Program{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container-overlap bg-white">
</div>
<div class="container container-md">
  <form id="create-variant" name="create-variant" novalidate="" class="card b0 form-validate redeem-rules-form">
    <div class="row">
      <div class="card">
        <!-- Nav tabs-->
        <div class="card-heading text-center">
          <div class=" pull-right pr">
            <button type="button" onclick="send()" class="btn btn-raised btn-primary ripple">Create</button>
          </div>
          <div class="card-title">Setting</div>
        </div>
        <!-- Tab panes-->
        <div class="card-body">
          <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            <div id="panel-variant" class="panel panel-default">
              <div id="headingOne" role="tab" class="panel-heading card-heading">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Program</a>
                </h4>
              </div>
              <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="variant-name" name="variant-name" placeholder="Program Name" check="true" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>Program Name</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <select id="variant-type" name="variant-type" check="true" class="form-control select2" tabindex="0">
                            <option value="on-demand">Mobile App</option>
                            <option value="bulk">Email Blast</option>
                          </select>
                          <div class="mda-form-control-line"></div>
                          <label>Program Type</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Validity</label>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-sm-6">
                      <div class="mda-form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
                        <div id="example-datepicker-container-4" class="mda-form-control">
                          <input id="variant-valid-from" name="start-date" placeholder="Select Date" tabindex="0" aria-invalid="false" class="form-control datepicker4">
                          <div class="mda-form-control-line"></div>
                          <label>From</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="variant-valid-to" name="end-date" placeholder="Select Date" tabindex="0" aria-invalid="false" class="form-control datepicker4">
                          <div class="mda-form-control-line"></div>
                          <label>To</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control no-border-bottom">
                          <span><img id="image-preview" class="image-preview" src="https://storage.googleapis.com/e-voucher/Nd3QxH8El2Zuy12QhXs5Y305vPL4VZJJ.jpg"></img></span>
                          <input id="image-url" name="image-url" type="file" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>Voucher Image</label>
                        </div>
                      </div>
                    </div>

                    <div id="target" class="col-sm-6 form-horizontal" style="display:none">
                      <div class="col-sm-4">
                        <label class="control-label">List Target</label>
                      </div>
                      <div class="col-sm-8">
                        <div class="form-group">
                          <input id="list-target" name="list-target" type="file" tabindex="0" aria-invalid="false" class="no-border form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <textarea id="variant-description" name="variant-description" rows="6" aria-multiline="true" tabindex="0" class="form-control"></textarea>
                          <div class="mda-form-control-line"></div>
                          <label>Description</label><span class="mda-form-msg right">Any message here</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="panel-voucher" class="panel panel-default">
              <div id="headingTwo" role="tab" class="panel-heading card-heading">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">Voucher</a></h4>
              </div>
              <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row form-horizontal">
                    <div class="col-sm-2">
                      <label class="control-label">Validity</label>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <div class="form-control no-border">
                          <select id="voucher-validity-type" name="voucher-type" class="form-control select2" tabindex="0">
                            <option value="lifetime">Lifetime</option>
                            <option value="period">Period</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div id="validity-lifetime" class="col-sm-2" style="display:none">
                      <div class="form-group">
                        <div class="form-control no-border">
                          <div class="input-group">
                            <input id="voucher-lifetime" name="voucher-lifetime" type="text" placeholder="0" class="form-control">
                            <span class="input-group-addon">Days</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="validity-date" class="col-sm-8">
                      <div class="col-sm-6">
                        <div class="mda-form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
                          <div id="example-datepicker-container-3" class="mda-form-control">
                            <input id="voucher-valid-from" name="voucher-valid-from" tabindex="0" aria-invalid="false" class="form-control datepicker3">
                            <div class="mda-form-control-line"></div>
                            <label>From</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="mda-form-group">
                          <div class="mda-form-control">
                            <input id="voucher-valid-to" name="voucher-valid-to" tabindex="0" aria-invalid="false" class="form-control datepicker3">
                            <div class="mda-form-control-line"></div>
                            <label>To</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <select id="voucher-type" name="voucher-type" class="form-control select2" tabindex="0">
                            <option value="cash">Cash Back</option>
                            <option value="discount">Discount</option>
                          </select>
                          <div class="mda-form-control-line"></div>
                          <label>Voucher Type</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="voucher-value" name="voucher-value" placeholder="Min 1" check="true" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>Voucher Value</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="max-row" class="row">
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="max-quantity-voucher" name="max-quantity-voucher" placeholder="Min 1" check="true" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>Maximum Quantity</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="max-usage-voucher" name="max-usage-voucher" placeholder="Min 1" check="true" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>Maximum Issued per User</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="conversion-row"  class="row">
                    <div class="col-sm-12">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="voucher-price" name="voucher-price" placeholder="0" check="true" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>Conversion Rate from Currency or Poin to Voucher</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <select id="voucher-format" name="voucher-format" class="form-control select2" tabindex="0">
                            <option value="Alphanumeric">Alphanumeric</option>
                            <option value="Alphabet">Alphabetic</option>
                            <option value="Numerals">Numeric</option>
                          </select>
                          <div class="mda-form-control-line"></div>
                          <label>Voucher Format</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="length" name="length" tabindex="0" check="true" aria-invalid="false" class="form-control" placeholder="min 8">
                          <div class="mda-form-control-line"></div>
                          <label>Length</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="prefix" name="prefix" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>Prefix</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="body" name="body" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>Body</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <input id="postfix" name="postfix" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>Postfix</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="panel-redeem" class="panel panel-default">
              <div id="headingThree" role="tab" class="panel-heading card-heading">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">Redemption Rule</a></h4>
              </div>
              <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse in">
                <div class="panel-body">

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <select id="redeemtion-method" name="redeemtion-method" class="form-control select2" tabindex="0">
                            <option value="qr">QR</option>
                            <option value="token">Token</option>
                          </select>
                          <div class="mda-form-control-line"></div>
                          <label>Redemption Method</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Validity</label>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-sm-6">
                      <div class="mda-form-group clockpicker" data-autoclose="true">
                        <div class="mda-form-control">
                          <input id="start-hour" name="start-hour" placeholder="00:00" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>From</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mda-form-group clockpicker" data-autoclose="true">
                        <div class="mda-form-control">
                          <input id="end-hour" name="end-hour" placeholder="00:00" tabindex="0" aria-invalid="false" class="form-control">
                          <div class="mda-form-control-line"></div>
                          <label>To</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row form-horizontal">
                    <div class="col-sm-2">
                      <label class="control-label">Repetition</label>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <div class="form-control no-border">
                          <select id="redeem-validity-type" name="voucher-type" class="form-control select2" tabindex="0">
                            <option value="selected">Select</option>
                            <option value="all">All Day</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div id="validity-day" class="col-sm-8">
                      <div class="mda-form-group">
                        <div class="mda-form-control">
                          <select id="days" name="days" multiple="multiple" class="form-control select2" tabindex="0">
                            <option value="sunday">Sunday</option>
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                          </select>
                          <div class="mda-form-control-line"></div>
                          <label>List</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <label class="control-label">Partner</label>
                    </div>
                    <div class="col-sm-8 border">
                      <div id="partner-list" class="mda-form-group checkbox-add-padding">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="panel-tnc" class="panel panel-default">
              <div id="headingFour" role="tab" class="panel-heading card-heading">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree" class="collapsed">Term and Condition</a></h4>
              </div>
              <div id="collapseFour" role="tabpanel" aria-labelledby="headingFour" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row ">
                    <div class="col-sm-12">
                      <div class="input-group">
                        <input class="form-control" id="input-term-condition" type="text">
                        <span class="input-group-btn">
                          <button type="button" onclick="addRule()" class="btn btn-default redeem-rules-button">Add</button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-hover table-fixed va-middle">
                        <tbody id="list-rule">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/clockpicker/dist/bootstrap-clockpicker.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/variant/create.js"></script>

{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
<link rel="stylesheet" href="/assets/vendor/clockpicker/dist/bootstrap-clockpicker.css">
{{ end }}
