{{ template "layout" . }}

{{ define "title" }}E-Voucher{{ end }}
{{ define "header-title" }}E-Voucher{{ end }}

{{ define "content" }}
<section>
  <div class="content-heading bg-white">
    <div class="row">
      <div class="col-sm-9">
        <h4 class="m0">Welcome to our dashboard</h4>
      </div>
      <div class="col-sm-3 text-right hidden-xs">
        <button type="button" onclick="addVariant()" class="btn btn-labeled btn-default ripple">Program<span class="btn-label btn-label-right"><i class="ion-plus-round"></i></span></button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-lg-9 col-md-12">
      <div class="card">
        <h5 class="card-heading">Upcoming Program</h5>
        <div class="card-body">
          <ul id="upcomming-variant" class="list-group">

          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12">
      <!-- Activity feed-->
      <div class="card">
        <div class="card-body pv">
          <div class="clearfix">
            <div class="pull-left">
              <h4 id="total-variant" class="m0">-</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Program</small>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body pv">
          <div class="clearfix">
            <div class="pull-left">
              <h4 id="total-voucher" class="m0">-</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Total Voucher</small>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body pv">
          <div class="clearfix">
            <div class="pull-left">
              <h4 id="total-generated" class="m0">-</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Created Voucher</small>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body pv">
          <div class="clearfix">
            <div class="pull-left">
              <h4 id="total-used" class="m0">-</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Used Voucher</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script src="/assets/vendor/sparkline/index.js"></script>
<script src="/assets/vendor/flot/jquery.flot.js"></script>
<script src="/assets/vendor/flot/jquery.flot.categories.js"></script>
<script src="/assets/vendor/flot-spline/js/jquery.flot.spline.js"></script>
<script src="/assets/vendor/flot.tooltip/js/jquery.flot.tooltip.js"></script>
<script src="/assets/vendor/flot/jquery.flot.resize.js"></script>
<script src="/assets/vendor/flot/jquery.flot.pie.js"></script>
<script src="/assets/vendor/flot/jquery.flot.time.js"></script>
<script src="/assets/vendor/sidebysideimproved/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="/assets/js/variant/index.js"></script>
{{ end }}

{{ define "stylesheets" }}
{{ end }}
