{{ template "layout" . }}

{{ define "title" }}List Program{{ end }}
{{ define "header-title" }}List Program{{ end }}

{{ define "content" }}
<section>
<div class="container-overlap bg-white">
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-heading bg-amber-500">
      <div class="pull-right">
        <button type="button" onclick="addVariant()" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-plus-circled"></em></button>
      </div>
      <div class="card-title text-center">Program</div>
    </div>
    <div class="card-body">
      <table id="datatable1" class="table-datatable table table-striped table-hover mv-lg dataTable" role="grid" aria-describedby="datatable2_info">
        <thead>
          <tr>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_program_name" placeholder="Program Name" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_conversion" placeholder="Conversion" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_start_date" placeholder="Start Date" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_end_date" placeholder="End Date" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_status" placeholder="Status" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_last_modified" placeholder="Last Modified" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_total_voucher" placeholder="Total" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
            <th>
              <div class="mda-form-control pt0">
                <input type="text" name="filter_available_voucher" placeholder="Available" class="form-control input-sm datatable_input_col_search">
                <div class="mda-form-control-line"></div>
              </div>
            </th>
          </tr>
          <tr role="row">
            <th>Program Name</th>
            <th>Conversion</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Last Modified</th>
            <th>Available</th>
            <th>Total</th>
            <th class="center-text"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/sweetalert/dist/sweetalert-dev.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/jszip.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/pdfmake.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/vfs_fonts.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/assets/vendor/datatables/media/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/assets/vendor/nouislider/distribute/nouislider.js"></script>
<script type="text/javascript" src="/assets/js/variant/search.js"></script>
{{ end }}


{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/sweetalert/dist/sweetalert.css">
<link rel="stylesheet" href="/assets/vendor/nouislider/distribute/nouislider.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/jquery.dataTables.css">
<link rel="stylesheet" href="/assets/vendor/datatables/media/css/buttons.dataTables.min.css">
{{ end }}
