{{ template "layout" . }}

{{ define "title" }}Edit Program{{ end }}
{{ define "header-title" }}Edit Program{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container-overlap bg-white">
</div>
<div class="container container-md">
  <form id="create-variant" name="create-variant" novalidate="" class="card b0 form-validate">
    <div class="card">
      <div class="card-heading bg-amber-500">
          <div class="card-title text-center">Program</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="variant-name" name="variant-name" check="true" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Program Name</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <select id="variant-type" name="variant-type" class="form-control select2" tabindex="0">
                  <option value="bulk">Bulk</option>
                  <option value="on-demand">On-demand</option>
                </select>
                <div class="mda-form-control-line"></div>
                <label>Program Type</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-6">
            <div class="mda-form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
              <div id="example-datepicker-container-4" class="mda-form-control">
                <input id="start-date" name="start-date" check="true" tabindex="0" aria-invalid="false" class="form-control datepicker4">
                <div class="mda-form-control-line"></div>
                <label>Start Date</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="end-date" name="end-date" check="true" tabindex="0" aria-invalid="false" class="form-control datepicker4">
                <div class="mda-form-control-line"></div>
                <label>End Date</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="image-url" name="image-url" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Image URL</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <textarea id="variant-tnc" name="variant-tnc" check="true" rows="3" aria-multiline="true" tabindex="0" aria-invalid="false" class="form-control"></textarea>
                <div class="mda-form-control-line"></div>
                <label>Term and Condition</label><span class="mda-form-msg right">Any message here</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <textarea id="variant-description" name="variant-description" check="true" rows="3" aria-multiline="true" tabindex="0" aria-invalid="false" class="form-control"></textarea>
                <div class="mda-form-control-line"></div>
                <label>Description</label><span class="mda-form-msg right">Any message here</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-heading bg-amber-500">
        <div class="card-title text-center">Voucher</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <select id="voucher-type" name="voucher-type" class="form-control select2" tabindex="0">
                  <option value="cash">Cash</option>
                  <option value="discount">Discount</option>
                  <option value="promo">Promo</option>
                </select>
                <div class="mda-form-control-line"></div>
                <label>Voucher Type</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="max-quantity-voucher" name="max-quantity-voucher" check="true" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Maximum Quantity</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="max-usageVoucher" name="max-usage-voucher" check="true" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Maximum Issued per User</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="voucher-price" name="voucher-price" check="true" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Conversion Rate</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="voucher-value" name="voucher-value" check="true" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Voucher Value</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <select id="redemption-method" name="redemption-method" class="form-control select2" tabindex="0">
                  <option value="qr">QR</option>
                  <option value="token">Token</option>
                </select>
                <div class="mda-form-control-line"></div>
                <label>Redemption Method</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" pull-right pr">
            <button type="button" onclick="send()" class="btn btn-raised btn-primary ripple">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/variant/update.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
