{{ template "layout" . }}

{{ define "title" }}Edit Variant{{ end }}
{{ define "header-title" }}Edit Variant{{ end }}

{{ define "content" }}
<!-- Page content-->
<section>
<div class="container-overlap bg-white">
</div>
<div class="container container-md">
  <form id="create-variant" name="create-variant" novalidate="" class="card b0 form-validate">
    <div class="card">
      <div class="card-heading bg-amber-500">
          <div class="card-title text-center">Variant</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="variantName" name="variantName" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Variant Name</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <select id="variantType" name="variantType" class="form-control select2" tabindex="0">
                  <option value="bulk">Bulk</option>
                  <option value="on-demand">On-demand</option>
                </select>
                <div class="mda-form-control-line"></div>
                <label>Variant Type</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-6">
            <div class="mda-form-group rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
              <div id="example-datepicker-container-4" class="mda-form-control">
                <input id="startDate" name="startDate" tabindex="0" aria-invalid="false" class="form-control datepicker4">
                <div class="mda-form-control-line"></div>
                <label>Start Date</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="endDate" name="endDate" tabindex="0" aria-invalid="false" class="form-control datepicker4">
                <div class="mda-form-control-line"></div>
                <label>End Date</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="imageUrl" name="imageUrl" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Image URL</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <textarea id="variantTnc" name="variantTnc" rows="3" aria-multiline="true" tabindex="0" aria-invalid="false" class="form-control"></textarea>
                <div class="mda-form-control-line"></div>
                <label>T&C</label><span class="mda-form-msg right">Any message here</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <textarea id="variantDescription" name="variantDescription" rows="3" aria-multiline="true" tabindex="0" aria-invalid="false" class="form-control"></textarea>
                <div class="mda-form-control-line"></div>
                <label>Description</label><span class="mda-form-msg right">Any message here</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-heading bg-amber-500">
        <div class="card-title text-center">Voucher</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <select id="voucherType" name="voucherType" class="form-control select2" tabindex="0">
                  <option value="cash">Cash</option>
                  <option value="discount">Discount</option>
                  <option value="promo">Promo</option>
                </select>
                <div class="mda-form-control-line"></div>
                <label>Voucher Type</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="maxQuantityVoucher" name="maxQuantityVoucher" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Max Quantity</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="maxUsageVoucher" name="maxUsageVoucher" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Max Usage</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="voucherPrice" name="voucherPrice" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Voucher Price</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input id="voucherValue" name="voucherValue" tabindex="0" aria-invalid="false" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Voucher Value</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <select id="redeemtionMethod" name="redeemtionMethod" class="form-control select2" tabindex="0">
                  <option value="qr">QR</option>
                  <option value="token">Token</option>
                </select>
                <div class="mda-form-control-line"></div>
                <label>Redeemtion Method</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" pull-right pr">
            <button type="button" onclick="send()" class="btn btn-raised btn-primary ripple">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/assets/vendor/select2/dist/js/select2.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/variant/update.js"></script>
{{ end }}

{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.css">
{{ end }}
